## Downloading stock market data from the CVM website.
## The data will consist of quarterly reports spanning from 2012 to 2022.

### Setting the display

In [29]:
import pandas as pd

#pd.set_option('display.max_columns', 10)
pd.reset_option('display.max_columns')
pd.set_option('display.width', 200)
#pd.reset_option('display.width')

### Installing libs

In [30]:
%pip install requests beautifulsoup4
%pip install chardet
%pip install files
%pip install chardet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /usr/lib/python3.11/site-packages (2.28.1)
Requirement already satisfied: beautifulsoup4 in /usr/lib/python3.11/site-packages (4.12.2)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/lib/python3.11/site-packages (from requests) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3.11/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/lib/python3.11/site-packages (from requests) (1.26.16)
Requirement already satisfied: soupsieve>1.2 in /usr/lib/python3.11/site-packages (from beautifulsoup4) (2.3.2.post1)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: chardet in /usr/lib/python3.11/site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: files in /home/enok/.local/lib/python3.11/site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: chardet in /usr/lib/python3.11/site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

### Downloading balance sheets files

In [31]:
import os
import requests
from urllib.parse import urljoin
import zipfile
import chardet

# Function to check if a file's encoding is UTF-8
def is_utf8(file_path):
    try:
        with open(file_path, 'rb') as file:
            raw_data = file.read()
            result = chardet.detect(raw_data)
            return result['encoding'] == 'utf-8'
    except Exception:
        return False

# URL of the website containing the ZIP files
base_url = "https://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/"

# Create a directory to save the downloaded files
download_dir = "downloaded_files"
os.makedirs(download_dir, exist_ok=True)

# Define the years you want to download (2012 to 2022)
years_to_download = set(str(year) for year in range(2012, 2023))

# Send an HTTP GET request to the URL
response = requests.get(base_url)
response.raise_for_status()

# Parse the HTML content using BeautifulSoup
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Find all links on the page
links = soup.find_all("a")

# Iterate through the links and download ZIP files for the specified years
for link in links:
    file_url = urljoin(base_url, link["href"])
    
    # Example: Assuming ZIP files are named like "itr_cia_aberta_YEAR.zip"
    if file_url.endswith(".zip"):
        zip_file_name = os.path.basename(file_url)
        
        # Extract the year from the ZIP file name
        year_part = zip_file_name.split("_")[-1].split(".")[0]
        
        # Check if the ZIP file is from a year within the specified range
        if year_part in years_to_download:
            # Check if the ZIP file already exists
            if not os.path.exists(os.path.join(download_dir, zip_file_name)):
                print(f"Downloading: {zip_file_name}")
                with open(os.path.join(download_dir, zip_file_name), "wb") as file:
                    file_response = requests.get(file_url)
                    file.write(file_response.content)
            else:
                print(f"File already exists: {zip_file_name}")

# Process the downloaded ZIP files (extract, remove "ind" files, and convert)
for zip_file_name in os.listdir(download_dir):
    if zip_file_name.endswith(".zip"):
        zip_file_path = os.path.join(download_dir, zip_file_name)
        zip_subdir = os.path.splitext(zip_file_name)[0]  # Use ZIP file name without extension as subdirectory name
        zip_subdir_path = os.path.join(download_dir, zip_subdir)

        # Check if the ZIP file has already been extracted
        if not os.path.exists(zip_subdir_path):
            print(f"Unzipping: {zip_file_name} -> {zip_subdir_path}")
            with zipfile.ZipFile(zip_file_path, "r") as zip_ref:
                zip_ref.extractall(zip_subdir_path)

            # Remove files with "ind" in their names
            for root, _, files in os.walk(zip_subdir_path):
                for file_name in files:
                    if "ind" in file_name:
                        file_path = os.path.join(root, file_name)
                        os.remove(file_path)
                        print(f"Removed: {file_path}")

            # Remove files with "itr_cia_aberta_20" in their names
            for root, _, files in os.walk(zip_subdir_path):
                for file_name in files:
                    if "itr_cia_aberta_20" in file_name:
                        file_path = os.path.join(root, file_name)
                        os.remove(file_path)
                        print(f"Removed: {file_path}")

            # Remove files with "itr_cia_aberta_DFC_MD_con_20" in their names
            for root, _, files in os.walk(zip_subdir_path):
                for file_name in files:
                    if "itr_cia_aberta_DFC_MD_con_20" in file_name:
                        file_path = os.path.join(root, file_name)
                        os.remove(file_path)
                        print(f"Removed: {file_path}")

            # Convert CSV files from ISO-8859-1 to UTF-8 only if they are not already UTF-8
            for csv_file_name in os.listdir(zip_subdir_path):
                if csv_file_name.endswith(".csv"):
                    csv_file_path = os.path.join(zip_subdir_path, csv_file_name)
                    if not is_utf8(csv_file_path):
                        print(f"Converting encoding: {csv_file_path}")
                        with open(csv_file_path, 'r', encoding='ISO-8859-1') as source_file:
                            content = source_file.read()
                        with open(csv_file_path, 'w', encoding='utf-8') as target_file:
                            target_file.write(content)
                    else:
                        print(f"File already in UTF-8: {csv_file_path}")

print("Download, extraction, file removal, and encoding conversion completed.")

File already exists: itr_cia_aberta_2012.zip
File already exists: itr_cia_aberta_2013.zip
File already exists: itr_cia_aberta_2014.zip
File already exists: itr_cia_aberta_2015.zip
File already exists: itr_cia_aberta_2016.zip
File already exists: itr_cia_aberta_2017.zip
File already exists: itr_cia_aberta_2018.zip
File already exists: itr_cia_aberta_2019.zip
File already exists: itr_cia_aberta_2020.zip
File already exists: itr_cia_aberta_2021.zip
File already exists: itr_cia_aberta_2022.zip
Download, extraction, file removal, and encoding conversion completed.

### Creating the datasets

In [32]:
import numpy as np
import re

bpa_df = None
bpp_df = None
dfc_mi_df = None
dmpl_df = None
dra_df = None
dre_df = None
dva_df = None

d_parser = lambda x: pd.datetime.strptime(format='%Y-%m-%d')

# Load files into Data Frames
for dir_name in os.listdir(download_dir):
    if not dir_name.endswith(".zip"):
        dir_path = os.path.join(download_dir, dir_name)

        for csv_file_name in os.listdir(dir_path):
            csv_file_path = os.path.join(dir_path, csv_file_name)
            print("\n-------------------------------------------------------")
            print(f"Reading csv file: {csv_file_path}")

            csv_file_type = os.path.splitext(csv_file_name)[0][15:19].replace("_", "")
            print(f"CSV type: {csv_file_type}")

            local_df = pd.read_csv(csv_file_path, sep=';')

            local_df['DT_REFER'] = pd.to_datetime(local_df['DT_REFER'], format='%Y-%m-%d')
            local_df['DT_FIM_EXERC'] = pd.to_datetime(local_df['DT_FIM_EXERC'], format='%Y-%m-%d')

            if ((csv_file_type == 'BPA') or (csv_file_type == 'BPP')):
                # Subtract 3 months from the 'DT_FIM_EXERC' using vectorized operations
                local_df['DT_INI_EXERC'] = local_df['DT_FIM_EXERC'] - pd.DateOffset(months=3)

                # Set the day to the 1st day of the month using pd.offsets.MonthBegin(1)
                local_df['DT_INI_EXERC'] = local_df['DT_INI_EXERC'] + pd.offsets.MonthBegin(1)

                # Reorder the columns to move 'DT_INI_EXERC' to the 8th position
                cols = list(local_df.columns)
                cols.remove('DT_INI_EXERC')
                cols.insert(8, 'DT_INI_EXERC')
                local_df = local_df[cols]
            else:
                local_df['DT_INI_EXERC'] = pd.to_datetime(local_df['DT_INI_EXERC'], format='%Y-%m-%d')

            print(f"Dataframe size: {len(local_df)}")

            match csv_file_type:
                case 'BPA':
                    if bpa_df is None:
                        bpa_df = local_df
                    else:
                        bpa_df = pd.concat([bpa_df, local_df])
                    print(f"Dataframe size - after concat: {len(bpa_df)}")

                case 'BPP':
                    if bpp_df is None:
                        bpp_df = local_df
                    else:
                        bpp_df = pd.concat([bpp_df, local_df])
                    print(f"Dataframe size - after concat: {len(bpp_df)}")

                case 'DFC':
                    if dfc_mi_df is None:
                        dfc_mi_df = local_df
                    else:
                        dfc_mi_df = pd.concat([dfc_mi_df, local_df])
                    print(f"Dataframe size - after concat: {len(dfc_mi_df)}")

                case 'DMPL':
                    if dmpl_df is None:
                        dmpl_df = local_df
                    else:
                        dmpl_df = pd.concat([dmpl_df, local_df])
                    print(f"Dataframe size - after concat: {len(dmpl_df)}")

                case 'DRA':
                    if dra_df is None:
                        dra_df = local_df
                    else:
                        dra_df = pd.concat([dra_df, local_df])
                    print(f"Dataframe size - after concat: {len(dra_df)}")

                case 'DRE':
                    if dre_df is None:
                        dre_df = local_df
                    else:
                        dre_df = pd.concat([dre_df, local_df])
                    print(f"Dataframe size - after concat: {len(dre_df)}")

                case 'DVA':
                    if dva_df is None:
                        dva_df = local_df
                    else:
                        dva_df = pd.concat([dva_df, local_df])
                    print(f"Dataframe size - after concat: {len(dva_df)}")

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_BPA_con_2012.csv
CSV type: BPA
Dataframe size: 132416
Dataframe size - after concat: 132416

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_BPP_con_2012.csv
CSV type: BPP
Dataframe size: 224976
Dataframe size - after concat: 224976

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_DFC_MI_con_2012.csv
CSV type: DFC
Dataframe size: 80864
Dataframe size - after concat: 80864

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_DMPL_con_2012.csv
CSV type: DMPL
Dataframe size: 458552
Dataframe size - after concat: 458552

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_DRA_con_2012.csv
CSV type: DRA
Dataframe size: 20887
Dataframe size - after concat: 20887

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_DRE_con_2012.csv
CSV type: DRE
Dataframe size: 119445
Dataframe size - after concat: 119445

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_DVA_con_2012.csv
CSV type: DVA
Dataframe size: 85694
Dataframe size - after concat: 85694

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_BPA_con_2013.csv
CSV type: BPA
Dataframe size: 130188
Dataframe size - after concat: 262604

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_BPP_con_2013.csv
CSV type: BPP
Dataframe size: 219866
Dataframe size - after concat: 444842

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_DFC_MI_con_2013.csv
CSV type: DFC
Dataframe size: 81144
Dataframe size - after concat: 162008

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_DMPL_con_2013.csv
CSV type: DMPL
Dataframe size: 453808
Dataframe size - after concat: 912360

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_DRA_con_2013.csv
CSV type: DRA
Dataframe size: 21142
Dataframe size - after concat: 42029

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_DRE_con_2013.csv
CSV type: DRE
Dataframe size: 118622
Dataframe size - after concat: 238067

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_DVA_con_2013.csv
CSV type: DVA
Dataframe size: 83962
Dataframe size - after concat: 169656

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_BPA_con_2014.csv
CSV type: BPA
Dataframe size: 130971
Dataframe size - after concat: 393575

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_BPP_con_2014.csv
CSV type: BPP
Dataframe size: 221196
Dataframe size - after concat: 666038

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_DFC_MI_con_2014.csv
CSV type: DFC
Dataframe size: 82769
Dataframe size - after concat: 244777

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_DMPL_con_2014.csv
CSV type: DMPL
Dataframe size: 458448
Dataframe size - after concat: 1370808

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_DRA_con_2014.csv
CSV type: DRA
Dataframe size: 21575
Dataframe size - after concat: 63604

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_DRE_con_2014.csv
CSV type: DRE
Dataframe size: 119904
Dataframe size - after concat: 357971

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_DVA_con_2014.csv
CSV type: DVA
Dataframe size: 84426
Dataframe size - after concat: 254082

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_BPA_con_2015.csv
CSV type: BPA
Dataframe size: 128798
Dataframe size - after concat: 522373

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_BPP_con_2015.csv
CSV type: BPP
Dataframe size: 216672
Dataframe size - after concat: 882710

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_DFC_MI_con_2015.csv
CSV type: DFC
Dataframe size: 83068
Dataframe size - after concat: 327845

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_DMPL_con_2015.csv
CSV type: DMPL
Dataframe size: 448944
Dataframe size - after concat: 1819752

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_DRA_con_2015.csv
CSV type: DRA
Dataframe size: 21305
Dataframe size - after concat: 84909

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_DRE_con_2015.csv
CSV type: DRE
Dataframe size: 118866
Dataframe size - after concat: 476837

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_DVA_con_2015.csv
CSV type: DVA
Dataframe size: 82518
Dataframe size - after concat: 336600

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_BPA_con_2016.csv
CSV type: BPA
Dataframe size: 126491
Dataframe size - after concat: 648864

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_BPP_con_2016.csv
CSV type: BPP
Dataframe size: 213179
Dataframe size - after concat: 1095889

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_DFC_MI_con_2016.csv
CSV type: DFC
Dataframe size: 82632
Dataframe size - after concat: 410477

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_DMPL_con_2016.csv
CSV type: DMPL
Dataframe size: 440592
Dataframe size - after concat: 2260344

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_DRA_con_2016.csv
CSV type: DRA
Dataframe size: 21098
Dataframe size - after concat: 106007

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_DRE_con_2016.csv
CSV type: DRE
Dataframe size: 114788
Dataframe size - after concat: 591625

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_DVA_con_2016.csv
CSV type: DVA
Dataframe size: 80974
Dataframe size - after concat: 417574

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_BPA_con_2017.csv
CSV type: BPA
Dataframe size: 128978
Dataframe size - after concat: 777842

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_BPP_con_2017.csv
CSV type: BPP
Dataframe size: 217592
Dataframe size - after concat: 1313481

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_DFC_MI_con_2017.csv
CSV type: DFC
Dataframe size: 85008
Dataframe size - after concat: 495485

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_DMPL_con_2017.csv
CSV type: DMPL
Dataframe size: 448064
Dataframe size - after concat: 2708408

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_DRA_con_2017.csv
CSV type: DRA
Dataframe size: 21590
Dataframe size - after concat: 127597

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_DRE_con_2017.csv
CSV type: DRE
Dataframe size: 116638
Dataframe size - after concat: 708263

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_DVA_con_2017.csv
CSV type: DVA
Dataframe size: 82626
Dataframe size - after concat: 500200

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_BPA_con_2018.csv
CSV type: BPA
Dataframe size: 125196
Dataframe size - after concat: 903038

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_BPP_con_2018.csv
CSV type: BPP
Dataframe size: 214792
Dataframe size - after concat: 1528273

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_DFC_MI_con_2018.csv
CSV type: DFC
Dataframe size: 85546
Dataframe size - after concat: 581031

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_DMPL_con_2018.csv
CSV type: DMPL
Dataframe size: 383720
Dataframe size - after concat: 3092128

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_DRA_con_2018.csv
CSV type: DRA
Dataframe size: 21844
Dataframe size - after concat: 149441

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_DRE_con_2018.csv
CSV type: DRE
Dataframe size: 115180
Dataframe size - after concat: 823443

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_DVA_con_2018.csv
CSV type: DVA
Dataframe size: 81696
Dataframe size - after concat: 581896

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_BPA_con_2019.csv
CSV type: BPA
Dataframe size: 126068
Dataframe size - after concat: 1029106

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_BPP_con_2019.csv
CSV type: BPP
Dataframe size: 217079
Dataframe size - after concat: 1745352

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_DFC_MI_con_2019.csv
CSV type: DFC
Dataframe size: 86363
Dataframe size - after concat: 667394

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_DMPL_con_2019.csv
CSV type: DMPL
Dataframe size: 451264
Dataframe size - after concat: 3543392

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_DRA_con_2019.csv
CSV type: DRA
Dataframe size: 21647
Dataframe size - after concat: 171088

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_DRE_con_2019.csv
CSV type: DRE
Dataframe size: 114292
Dataframe size - after concat: 937735

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_DVA_con_2019.csv
CSV type: DVA
Dataframe size: 82248
Dataframe size - after concat: 664144

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_BPA_con_2020.csv
CSV type: BPA
Dataframe size: 145676
Dataframe size - after concat: 1174782

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_BPP_con_2020.csv
CSV type: BPP
Dataframe size: 251254
Dataframe size - after concat: 1996606

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_DFC_MI_con_2020.csv
CSV type: DFC
Dataframe size: 102028
Dataframe size - after concat: 769422

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_DMPL_con_2020.csv
CSV type: DMPL
Dataframe size: 516017
Dataframe size - after concat: 4059409

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_DRA_con_2020.csv
CSV type: DRA
Dataframe size: 24620
Dataframe size - after concat: 195708

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_DRE_con_2020.csv
CSV type: DRE
Dataframe size: 130668
Dataframe size - after concat: 1068403

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_DVA_con_2020.csv
CSV type: DVA
Dataframe size: 94746
Dataframe size - after concat: 758890

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_BPA_con_2021.csv
CSV type: BPA
Dataframe size: 173012
Dataframe size - after concat: 1347794

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_BPP_con_2021.csv
CSV type: BPP
Dataframe size: 298002
Dataframe size - after concat: 2294608

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_DFC_MI_con_2021.csv
CSV type: DFC
Dataframe size: 120850
Dataframe size - after concat: 890272

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_DMPL_con_2021.csv
CSV type: DMPL
Dataframe size: 605398
Dataframe size - after concat: 4664807

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_DRA_con_2021.csv
CSV type: DRA
Dataframe size: 28884
Dataframe size - after concat: 224592

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_DRE_con_2021.csv
CSV type: DRE
Dataframe size: 152686
Dataframe size - after concat: 1221089

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_DVA_con_2021.csv
CSV type: DVA
Dataframe size: 111870
Dataframe size - after concat: 870760

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_BPA_con_2022.csv
CSV type: BPA
Dataframe size: 182138
Dataframe size - after concat: 1529932

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_BPP_con_2022.csv
CSV type: BPP
Dataframe size: 311946
Dataframe size - after concat: 2606554

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_DFC_MI_con_2022.csv
CSV type: DFC
Dataframe size: 130734
Dataframe size - after concat: 1021006

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_DMPL_con_2022.csv
CSV type: DMPL
Dataframe size: 634848
Dataframe size - after concat: 5299655

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_DRA_con_2022.csv
CSV type: DRA
Dataframe size: 31310
Dataframe size - after concat: 255902

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_DRE_con_2022.csv
CSV type: DRE
Dataframe size: 160318
Dataframe size - after concat: 1381407

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_DVA_con_2022.csv
CSV type: DVA
Dataframe size: 118502
Dataframe size - after concat: 989262

### Data analising

In [33]:
def print_df(df_name, df):
    print(f'\n\n{df_name}: {len(df):,} records')
    print('-------------------------------------------------------------------')
    print('\t\t\t TYPES')
    print(df.dtypes)

    print('\t\t\t NULL VALUES')
    print('CNPJ_CIA: ' + str(df['CNPJ_CIA'].isnull().sum().sum()))
    print('DT_REFER: ' + str(df['DT_REFER'].isnull().sum().sum()))
    print('VERSAO: ' + str(df['VERSAO'].isnull().sum().sum()))
    print('DENOM_CIA: ' + str(df['DENOM_CIA'].isnull().sum().sum()))
    print('CD_CVM: ' + str(df['CD_CVM'].isnull().sum().sum()))
    print('GRUPO_DFP: ' + str(df['GRUPO_DFP'].isnull().sum().sum()))
    print('MOEDA: ' + str(df['MOEDA'].isnull().sum().sum()))
    print('ESCALA_MOEDA: ' + str(df['ESCALA_MOEDA'].isnull().sum().sum()))
    print('ORDEM_EXERC: ' + str(df['ORDEM_EXERC'].isnull().sum().sum()))
    print('DT_INI_EXERC: ' + str(df['DT_INI_EXERC'].isnull().sum().sum()))
    print('DT_FIM_EXERC: ' + str(df['DT_FIM_EXERC'].isnull().sum().sum()))
    print('CD_CONTA: ' + str(df['CD_CONTA'].isnull().sum().sum()))
    print('DS_CONTA: ' + str(df['DS_CONTA'].isnull().sum().sum()))
    print('VL_CONTA: ' + str(df['VL_CONTA'].isnull().sum().sum()))
    print('ST_CONTA_FIXA: ' + str(df['ST_CONTA_FIXA'].isnull().sum().sum()))

    print('\t\t\t COUNT UNIQUE VALUES')
    print('CNPJ_CIA: ' + str(len(df['CNPJ_CIA'].unique())))
    print('DT_REFER: ' + str(len(df['DT_REFER'].unique())))
    print('VERSAO: ' + str(len(df['VERSAO'].unique())))
    print('DENOM_CIA: ' + str(len(df['DENOM_CIA'].unique())))
    print('CD_CVM: ' + str(len(df['CD_CVM'].unique())))
    print('GRUPO_DFP: ' + str(len(df['GRUPO_DFP'].unique())))
    print('MOEDA: ' + str(len(df['MOEDA'].unique())))
    print('ESCALA_MOEDA: ' + str(len(df['ESCALA_MOEDA'].unique())))
    print('ORDEM_EXERC: ' + str(len(df['ORDEM_EXERC'].unique())))
    print('DT_INI_EXERC: ' + str(len(df['DT_INI_EXERC'].unique())))
    print('DT_FIM_EXERC: ' + str(len(df['DT_FIM_EXERC'].unique())))
    print('CD_CONTA: ' + str(len(df['CD_CONTA'].unique())))
    print('DS_CONTA: ' + str(len(df['DS_CONTA'].unique())))
    print('VL_CONTA: ' + str(len(df['VL_CONTA'].unique())))
    print('ST_CONTA_FIXA: ' + str(len(df['ST_CONTA_FIXA'].unique())))

    print('\t\t\t UNIQUE VALUES')
    print('CNPJ_CIA: ' + str(len(df['CNPJ_CIA'].unique())))
    print('DT_REFER: ' + str(len(df['DT_REFER'].unique())))
    print('VERSAO: ' + str(df['VERSAO'].unique()))
    print('DENOM_CIA: ' + str(len(df['DENOM_CIA'].unique())))
    print('CD_CVM: ' + str(len(df['CD_CVM'].unique())))
    print('GRUPO_DFP: ' + str(df['GRUPO_DFP'].unique()))
    print('MOEDA: ' + str(df['MOEDA'].unique()))
    print('ESCALA_MOEDA: ' + str(df['ESCALA_MOEDA'].unique()))
    print('ORDEM_EXERC: ' + str(df['ORDEM_EXERC'].unique()))
    print('DT_INI_EXERC: ' + str(len(df['DT_INI_EXERC'].unique())))
    print('DT_FIM_EXERC: ' + str(len(df['DT_FIM_EXERC'].unique())))
    print('CD_CONTA: ' + str(len(df['CD_CONTA'].unique())))
    print('DS_CONTA: ' + str(len(df['DS_CONTA'].unique())))
    print('VL_CONTA: ' + str(len(df['VL_CONTA'].unique())))
    print('ST_CONTA_FIXA: ' + str(df['ST_CONTA_FIXA'].unique()))


print_df('bpa_df', bpa_df)
print_df('bpp_df', bpp_df)
print_df('dfc_mi_df', dfc_mi_df)
print_df('dmpl_df', dmpl_df)
print_df('dra_df', dra_df)
print_df('dre_df', dre_df)
print_df('dva_df', dva_df)

bpa_df: 1,529,932 records
-------------------------------------------------------------------
			 TYPES
CNPJ_CIA                 object
DT_REFER         datetime64[ns]
VERSAO                    int64
DENOM_CIA                object
CD_CVM                    int64
GRUPO_DFP                object
MOEDA                    object
ESCALA_MOEDA             object
DT_INI_EXERC     datetime64[ns]
ORDEM_EXERC              object
DT_FIM_EXERC     datetime64[ns]
CD_CONTA                 object
DS_CONTA                 object
VL_CONTA                float64
ST_CONTA_FIXA            object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_INI_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 0
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_INI_EXERC: 72
DT_FIM_EXERC: 78
CD_CONTA: 406
DS_CONTA: 5305
VL_CONTA: 240482
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Balanço Patrimonial Ativo']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_INI_EXERC: 72
DT_FIM_EXERC: 78
CD_CONTA: 406
DS_CONTA: 5305
VL_CONTA: 240482
ST_CONTA_FIXA: ['S' 'N']


bpp_df: 2,606,554 records
-------------------------------------------------------------------
			 TYPES
CNPJ_CIA                 object
DT_REFER         datetime64[ns]
VERSAO                    int64
DENOM_CIA                object
CD_CVM                    int64
GRUPO_DFP                object
MOEDA                    object
ESCALA_MOEDA             object
DT_INI_EXERC     datetime64[ns]
ORDEM_EXERC              object
DT_FIM_EXERC     datetime64[ns]
CD_CONTA                 object
DS_CONTA                 object
VL_CONTA                float64
ST_CONTA_FIXA            object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_INI_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 0
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_INI_EXERC: 72
DT_FIM_EXERC: 78
CD_CONTA: 462
DS_CONTA: 7629
VL_CONTA: 292142
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Balanço Patrimonial Passivo']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_INI_EXERC: 72
DT_FIM_EXERC: 78
CD_CONTA: 462
DS_CONTA: 7629
VL_CONTA: 292142
ST_CONTA_FIXA: ['S' 'N']


dfc_mi_df: 1,021,006 records
-------------------------------------------------------------------
			 TYPES
CNPJ_CIA                 object
DT_REFER         datetime64[ns]
VERSAO                    int64
DENOM_CIA                object
CD_CVM                    int64
GRUPO_DFP                object
MOEDA                    object
ESCALA_MOEDA             object
ORDEM_EXERC              object
DT_INI_EXERC     datetime64[ns]
DT_FIM_EXERC     datetime64[ns]
CD_CONTA                 object
DS_CONTA                 object
VL_CONTA                float64
ST_CONTA_FIXA            object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_INI_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 4
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 620
DT_REFER: 62
VERSAO: 6
DENOM_CIA: 660
CD_CVM: 622
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_INI_EXERC: 48
DT_FIM_EXERC: 69
CD_CONTA: 113
DS_CONTA: 35761
VL_CONTA: 224209
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 620
DT_REFER: 62
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 660
CD_CVM: 622
GRUPO_DFP: ['DF Consolidado - Demonstração do Fluxo de Caixa (Método Indireto)']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_INI_EXERC: 48
DT_FIM_EXERC: 69
CD_CONTA: 113
DS_CONTA: 35761
VL_CONTA: 224209
ST_CONTA_FIXA: ['S' 'N']


dmpl_df: 5,299,655 records
-------------------------------------------------------------------
			 TYPES
CNPJ_CIA                 object
DT_REFER         datetime64[ns]
VERSAO                    int64
DENOM_CIA                object
CD_CVM                    int64
GRUPO_DFP                object
MOEDA                    object
ESCALA_MOEDA             object
ORDEM_EXERC              object
DT_INI_EXERC     datetime64[ns]
DT_FIM_EXERC     datetime64[ns]
COLUNA_DF                object
CD_CONTA                 object
DS_CONTA                 object
VL_CONTA                float64
ST_CONTA_FIXA            object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_INI_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 24
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_INI_EXERC: 50
DT_FIM_EXERC: 71
CD_CONTA: 118
DS_CONTA: 9323
VL_CONTA: 152457
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Demonstração das Mutações do Patrimônio Líquido']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_INI_EXERC: 50
DT_FIM_EXERC: 71
CD_CONTA: 118
DS_CONTA: 9323
VL_CONTA: 152457
ST_CONTA_FIXA: ['S' 'N']


dra_df: 255,902 records
-------------------------------------------------------------------
			 TYPES
CNPJ_CIA                 object
DT_REFER         datetime64[ns]
VERSAO                    int64
DENOM_CIA                object
CD_CVM                    int64
GRUPO_DFP                object
MOEDA                    object
ESCALA_MOEDA             object
ORDEM_EXERC              object
DT_INI_EXERC     datetime64[ns]
DT_FIM_EXERC     datetime64[ns]
CD_CONTA                 object
DS_CONTA                 object
VL_CONTA                float64
ST_CONTA_FIXA            object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_INI_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 0
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_INI_EXERC: 102
DT_FIM_EXERC: 71
CD_CONTA: 49
DS_CONTA: 2581
VL_CONTA: 67778
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Demonstração de Resultado Abrangente']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_INI_EXERC: 102
DT_FIM_EXERC: 71
CD_CONTA: 49
DS_CONTA: 2581
VL_CONTA: 67778
ST_CONTA_FIXA: ['S' 'N']


dre_df: 1,381,407 records
-------------------------------------------------------------------
			 TYPES
CNPJ_CIA                 object
DT_REFER         datetime64[ns]
VERSAO                    int64
DENOM_CIA                object
CD_CVM                    int64
GRUPO_DFP                object
MOEDA                    object
ESCALA_MOEDA             object
ORDEM_EXERC              object
DT_INI_EXERC     datetime64[ns]
DT_FIM_EXERC     datetime64[ns]
CD_CONTA                 object
DS_CONTA                 object
VL_CONTA                float64
ST_CONTA_FIXA            object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_INI_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 0
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_INI_EXERC: 102
DT_FIM_EXERC: 71
CD_CONTA: 262
DS_CONTA: 4277
VL_CONTA: 288527
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Demonstração do Resultado']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_INI_EXERC: 102
DT_FIM_EXERC: 71
CD_CONTA: 262
DS_CONTA: 4277
VL_CONTA: 288527
ST_CONTA_FIXA: ['S' 'N']


dva_df: 989,262 records
-------------------------------------------------------------------
			 TYPES
CNPJ_CIA                 object
DT_REFER         datetime64[ns]
VERSAO                    int64
DENOM_CIA                object
CD_CVM                    int64
GRUPO_DFP                object
MOEDA                    object
ESCALA_MOEDA             object
ORDEM_EXERC              object
DT_INI_EXERC     datetime64[ns]
DT_FIM_EXERC     datetime64[ns]
CD_CONTA                 object
DS_CONTA                 object
VL_CONTA                float64
ST_CONTA_FIXA            object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_INI_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 0
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_INI_EXERC: 50
DT_FIM_EXERC: 71
CD_CONTA: 212
DS_CONTA: 2669
VL_CONTA: 226742
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Demonstração de Valor Adicionado']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_INI_EXERC: 50
DT_FIM_EXERC: 71
CD_CONTA: 212
DS_CONTA: 2669
VL_CONTA: 226742
ST_CONTA_FIXA: ['S' 'N']

### Data cleansing

In [34]:
# calculate value according to field ESCALA_MOELA
def set_vl_conta(df_name, df):
    print(f'setting vl_conta based on escala_moeda: {df_name}')
    df['VL_CONTA'] = np.where(df['ESCALA_MOEDA'] == 'MIL', df['VL_CONTA'] * 1000, df['VL_CONTA'])
    return df

def remove_non_mandatory_columns(df_name, df):
    print(f'removing non mandatory columns from: {df_name}')
    existing_cols = df.columns.intersection(['CNPJ_CIA', 'VERSAO', 'DENOM_CIA', 'MOEDA', 'ESCALA_MOEDA', 'COLUNA_DF', 'ST_CONTA_FIXA'])
    return df.drop(columns=existing_cols, axis=1)

def remove_non_used_accounts(df_name, df):
    print(f'removing non used accounts for: {df_name}')

    account_to_be_kept = ['1','1.01','1.01.01','1.01.03','1.01.04','1.02','1.02.03','1.02.03.01','1.02.03.02', 
                        '2.01','2.01.02','2.01.03','2.01.04', 
                        '3.01','3.02','3.03','3.04','3.04.01','3.04.02','3.04.03','3.04.04','3.04.05','3.04.06','3.06','3.06.01','3.06.02','3.08','3.08.01','3.08.02','3.11','3.11.01', 
                        '5.04.06','5.05.01', 
                        '6.01','6.01.01','6.02','6.03','6.05','6.05.01','6.05.02', 
                        '7.04.01']
    return df[df['CD_CONTA'].isin(account_to_be_kept)]


print("\n")
bpa_df = set_vl_conta('bpa_df', bpa_df)
bpp_df = set_vl_conta('bpp_df', bpp_df)
dfc_mi_df = set_vl_conta('dfc_mi_df', dfc_mi_df)
dmpl_df = set_vl_conta('dmpl_df', dmpl_df)
dra_df = set_vl_conta('dra_df', dra_df)
dre_df = set_vl_conta('dre_df', dre_df)
dva_df = set_vl_conta('dva_df', dva_df)

print("\n")
bpa_df = remove_non_mandatory_columns('bpa_df', bpa_df)
bpp_df = remove_non_mandatory_columns('bpp_df', bpp_df)
dfc_mi_df = remove_non_mandatory_columns('dfc_mi_df', dfc_mi_df)
dmpl_df = remove_non_mandatory_columns('dmpl_df', dmpl_df)
dra_df = remove_non_mandatory_columns('dra_df', dra_df)
dre_df = remove_non_mandatory_columns('dre_df', dre_df)
dva_df = remove_non_mandatory_columns('dva_df', dva_df)

print("\n")
bpa_df = remove_non_used_accounts('bpa_df', bpa_df)
bpp_df = remove_non_used_accounts('bpp_df', bpp_df)
dfc_mi_df = remove_non_used_accounts('dfc_mi_df', dfc_mi_df)
dmpl_df = remove_non_used_accounts('dmpl_df', dmpl_df)
dra_df = remove_non_used_accounts('dra_df', dra_df)
dre_df = remove_non_used_accounts('dre_df', dre_df)
dva_df = remove_non_used_accounts('dva_df', dva_df)

setting vl_conta based on escala_moeda: bpa_df
setting vl_conta based on escala_moeda: bpp_df
setting vl_conta based on escala_moeda: dfc_mi_df
setting vl_conta based on escala_moeda: dmpl_df
setting vl_conta based on escala_moeda: dra_df
setting vl_conta based on escala_moeda: dre_df
setting vl_conta based on escala_moeda: dva_df


removing non mandatory columns from: bpa_df
removing non mandatory columns from: bpp_df
removing non mandatory columns from: dfc_mi_df
removing non mandatory columns from: dmpl_df
removing non mandatory columns from: dra_df
removing non mandatory columns from: dre_df
removing non mandatory columns from: dva_df


removing non used accounts for: bpa_df
removing non used accounts for: bpp_df
removing non used accounts for: dfc_mi_df
removing non used accounts for: dmpl_df
removing non used accounts for: dra_df
removing non used accounts for: dre_df
removing non used accounts for: dva_df

### Data transformation

In [38]:
# merge dataframes into one
merged_df = pd.concat([bpa_df, bpp_df, dfc_mi_df, dmpl_df, dra_df, dre_df, dva_df])

In [39]:
# group data
print("\n")
print(f'grouping rows')
merged_df = merged_df.pivot_table(index=['DT_REFER', 'CD_CVM', 'ORDEM_EXERC', 'DT_INI_EXERC', 'DT_FIM_EXERC'], columns='CD_CONTA', values='VL_CONTA', dropna=True).reset_index()

grouping rows

In [40]:
print('\n')
print(f'\nshape: {merged_df.shape}')
print(f'\ncolumns: {merged_df.columns}')

print('\n')
merged_df.head(30)

shape: (50696, 46)

columns: Index(['DT_REFER', 'CD_CVM', 'ORDEM_EXERC', 'DT_INI_EXERC', 'DT_FIM_EXERC', '1', '1.01', '1.01.01', '1.01.03', '1.01.04', '1.02', '1.02.03', '1.02.03.01', '1.02.03.02', '2.01', '2.01.02', '2.01.03',
       '2.01.04', '3.01', '3.02', '3.03', '3.04', '3.04.01', '3.04.02', '3.04.03', '3.04.04', '3.04.05', '3.04.06', '3.06', '3.06.01', '3.06.02', '3.08', '3.08.01', '3.08.02', '3.11', '3.11.01',
       '5.04.06', '5.05.01', '6.01', '6.01.01', '6.02', '6.03', '6.05', '6.05.01', '6.05.02', '7.04.01'],
      dtype='object', name='CD_CONTA')

CD_CONTA,DT_REFER,CD_CVM,ORDEM_EXERC,DT_INI_EXERC,DT_FIM_EXERC,1,1.01,1.01.01,1.01.03,1.01.04,...,5.04.06,5.05.01,6.01,6.01.01,6.02,6.03,6.05,6.05.01,6.05.02,7.04.01
0,2012-03-31,94,PENÚLTIMO,2011-01-01,2011-03-31,NaN,NaN,NaN,NaN,NaN,...,0.0,1338000.0,9.670000e+06,6.839000e+06,-1.054000e+06,-4149000.0,4467000.0,8.473800e+07,8.920500e+07,-395000.0
1,2012-03-31,94,PENÚLTIMO,2011-10-01,2011-12-31,2.947570e+08,2.255880e+08,2.649000e+06,5.724000e+07,57123000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-03-31,94,ÚLTIMO,2012-01-01,2012-03-31,3.145890e+08,2.419730e+08,1.825000e+06,6.819500e+07,58077000.0,...,0.0,1404000.0,-1.670000e+05,7.293000e+06,-4.073000e+06,7774000.0,3534000.0,1.016870e+08,1.052210e+08,-465000.0
3,2012-03-31,701,PENÚLTIMO,2011-01-01,2011-03-31,NaN,NaN,NaN,NaN,NaN,...,0.0,70500.0,3.151000e+06,3.738000e+06,-3.701000e+06,-6255000.0,-6805000.0,7.371700e+07,6.691200e+07,0.0
4,2012-03-31,701,PENÚLTIMO,2011-10-01,2011-12-31,6.738600e+07,5.861400e+07,2.000000e+04,3.380000e+05,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2012-03-31,701,ÚLTIMO,2012-01-01,2012-03-31,7.261700e+07,6.414300e+07,4.000000e+03,2.000000e+03,0.0,...,0.0,70500.0,-7.920000e+05,0.000000e+00,3.140000e+06,784000.0,3132000.0,2.352300e+07,2.665500e+07,-4000.0
6,2012-03-31,1520,PENÚLTIMO,2011-01-01,2011-03-31,NaN,NaN,NaN,NaN,NaN,...,0.0,3343750.0,-9.150000e+06,2.051600e+07,-1.073300e+07,36924000.0,17042000.0,2.183900e+07,3.888100e+07,-5400000.0
7,2012-03-31,1520,PENÚLTIMO,2011-10-01,2011-12-31,8.355740e+08,3.943800e+08,2.030200e+07,1.775220e+08,122020000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2012-03-31,1520,ÚLTIMO,2012-01-01,2012-03-31,8.120260e+08,3.716370e+08,7.160000e+05,1.714130e+08,122043000.0,...,0.0,-5554375.0,2.126600e+07,-6.168000e+06,-2.001000e+06,-14681000.0,4584000.0,2.030200e+07,2.488600e+07,-7905000.0
9,2012-03-31,1562,PENÚLTIMO,2011-01-01,2011-03-31,NaN,NaN,NaN,NaN,NaN,...,0.0,655125.0,1.055000e+06,2.420000e+06,-8.120000e+05,3002000.0,3245000.0,3.326000e+06,6.571000e+06,-585000.0
10,2012-03-31,1562,PENÚLTIMO,2011-10-01,2011-12-31,8.843300e+07,6.718600e+07,2.129000e+06,2.733800e+07,23023000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2012-03-31,1562,ÚLTIMO,2012-01-01,2012-03-31,9.306900e+07,6.864000e+07,1.093000e+06,2.870000e+07,23391000.0,...,0.0,947875.0,4.840000e+05,4.848000e+06,-1.680000e+06,-329000.0,-1525000.0,7.335000e+06,5.810000e+06,-637000.0
12,2012-03-31,1597,PENÚLTIMO,2011-01-01,2011-03-31,NaN,NaN,NaN,NaN,NaN,...,0.0,4740500.0,1.300200e+07,1.571100e+07,-1.420500e+07,0.0,-1203000.0,1.033820e+08,1.021790e+08,-3132000.0
13,2012-03-31,1597,PENÚLTIMO,2011-10-01,2011-12-31,5.571210e+08,2.204580e+08,1.149510e+08,4.009400e+07,41321000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2012-03-31,1597,ÚLTIMO,2012-01-01,2012-03-31,5.340920e+08,1.927910e+08,1.172990e+08,2.058000e+07,35247000.0,...,0.0,4798750.0,2.153400e+07,1.638500e+07,-1.918600e+07,0.0,2348000.0,1.149510e+08,1.172990e+08,-4374000.0
15,2012-03-31,1694,PENÚLTIMO,2011-01-01,2011-03-31,NaN,NaN,NaN,NaN,NaN,...,0.0,3758625.0,6.790000e+06,4.237000e+06,6.540000e+06,0.0,13330000.0,3.258470e+08,3.391770e+08,-138000.0
16,2012-03-31,1694,PENÚLTIMO,2011-10-01,2011-12-31,2.515540e+08,2.440770e+08,1.823450e+08,1.065800e+07,6239000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2012-03-31,1694,ÚLTIMO,2012-01-01,2012-03-31,2.491670e+08,2.417850e+08,1.869590e+08,7.809000e+06,6496000.0,...,0.0,1245625.0,4.372000e+06,3.182000e+06,2.560000e+05,-14000.0,4614000.0,1.823450e+08,1.869590e+08,104000.0
18,2012-03-31,2100,PENÚLTIMO,2011-01-01,2011-03-31,NaN,NaN,NaN,NaN,NaN,...,0.0,380000.0,-1.526800e+07,2.490000e+05,-2.346000e+06,12308000.0,-5306000.0,7.707000e+06,2.401000e+06,-1660000.0
19,2012-03-31,2100,PENÚLTIMO,2011-10-01,2011-12-31,2.338650e+08,1.653780e+08,1.527000e+07,7.548000e+07,64197000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2012-03-31,2100,ÚLTIMO,2012-01-01,2012-03-31,2.397330e+08,1.761980e+08,2.302000e+06,9.244500e+07,72459000.0,...,0.0,424875.0,-8.266000e+06,5.574000e+06,-3.708000e+06,-994000.0,-12968000.0,1.527000e+07,2.302000e+06,-1833000.0
21,2012-03-31,2429,PENÚLTIMO,2011-01-01,2011-03-31,NaN,NaN,NaN,NaN,NaN,...,0.0,1489375.0,8.244000e+06,2.742600e+07,-4.049000e+06,-13714000.0,-9519000.0,4.036200e+07,3.084300e+07,-13379000.0
22,2012-03-31,2429,PENÚLTIMO,2011-10-01,2011-12-31,1.181754e+09,2.316840e+08,7.472200e+07,1.045810e+08,38356000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2012-03-31,2429,ÚLTIMO,2012-01-01,2012-03-31,1.183180e+09,2.420800e+08,8.508500e+07,1.067300e+08,38550000.0,...,0.0,1311375.0,8.538000e+06,2.584700e+07,-4.784000e+06,6609000.0,10363000.0,7.472200e+07,8.508500e+07,-14226000.0
24,2012-03-31,2437,PENÚLTIMO,2011-01-01,2011-03-31,NaN,NaN,NaN,NaN,NaN,...,0.0,482782875.0,2.648251e+09,2.280138e+09,-2.986332e+09,881492000.0,543411000.0,9.220169e+09,9.763580e+09,-425125000.0
25,2012-03-31,2437,PENÚLTIMO,2011-10-01,2011-12-31,1.631424e+11,3.666267e+10,7.994425e+09,4.352024e+09,747387000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2012-03-31,2437,ÚLTIMO,2012-01-01,2012-03-31,1.647689e+11,3.665730e+10,8.232203e+09,4.438938e+09,768325000.0,...,0.0,476612500.0,1.088786e+09,2.534430e+09,-2.253662e+09,658081000.0,-506795000.0,4.959787e+09,4.452992e+09,-443522000.0
27,2012-03-31,2453,PENÚLTIMO,2011-01-01,2011-03-31,NaN,NaN,NaN,NaN,NaN,...,0.0,197306625.0,7.537130e+08,8.123870e+08,-9.759150e+08,-24249000.0,-246451000.0,2.979693e+09,2.733242e+09,-232797000.0
28,2012-03-31,2453,PENÚLTIMO,2011-10-01,2011-12-31,3.735775e+10,8.531649e+09,2.862490e+09,2.998686e+09,54430000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2012-03-31,2453,ÚLTIMO,2012-01-01,2012-03-31,3.785263e+10,8.462174e+09,2.234744e+09,3.069043e+09,61993000.0,...,0.0,236770500.0,9.380810e+08,7.241410e+08,-1.183061e+09,-382766000.0,-627746000.0,2.862490e+09,2.234744e+09,-237551000.0