<a href="https://colab.research.google.com/github/enok/flowpredict/blob/main/flowpredict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Free Cash Flow Forecasting

<div style="text-align: right">The data will consist of quarterly reports spanning from 2012 to 2022.</div>
<div style="text-align: right">The forecasting will be from 2023 to 2025.</div>

## 1. Downloading and loading stock market data from the CVM website.

### Companies to be analised


| Company       | Ticker    | CVM Code  |
| :---          | :----     | ----:     |
| Eletrobras    | ELET6     | 2437      |
| Cemig         | CMIG4     | 2453      |
| CPFL Energia  | CPFE3     | 18660     |
| Taesa         | TAEE11    | 20257     |
| Enev          | ENEV3     | 21237     |

In [30]:
companies = [18660, 2453, 2437, 21237, 20257]
print('companies: CPFE3(18660), CMIG4(2453), ELET6(2437), ENEV3(21237), TAEE11(20257)\n')

companies: CPFE3(18660), CMIG4(2453), ELET6(2437), ENEV3(21237), TAEE11(20257)

### Accounts selected

Based on:<br>
Investiment Valuation Tools and Techniques for Determining the Value of Any Asset (Aswath Damodaran)<br>
    CHAPTER 14 - Free Cash Flow to Equity Discount Models<br><br>

*Free Cash Flows to Equity (FCFE) = <br>
	Net income - (Capital expenditures - Depreciation) <br>
	- (Change in noncash working capital) <br>
	+ (New debt issued - Debt repayments)*<br><br>


*Fluxo de Caixa Livre para os Acionistas (FCLPA) = <br>
Lucro Líquido<br>
 \- (Investimentos em Ativos Fixos - Depreciação)<br>
 \- (Variação no Capital de Giro, excluindo Caixa)<br>
 \+ (Novas Dívidas Emitidas - Pagamentos de Dívida)*<br><br>

*FCFE = <br>
  3.11 (Lucro/Prejuizo Consolidado do Periodo do DRE)<br>
  \- (Δ 1.02.03 (Imobilizado) - 7.04.01 (Depreciacao, Amortizacao e Exaustao da DVA))<br>
  \- (Δ 1.01 (Ativo Circulante) - Δ 1.01.01 (Caixa e Equivalentes de Caixa) -  Δ 2.01 (Passivo Circulante))<br>
  \+ (Δ 2.01.04(Emprestimos e Financiamentos Circulantes) + Δ 2.02.01(Emprestimos e Financiamentos Nao Circulantes))*<br><br>



**BPA**

| Code       | Description                                           |
| :---       | :----                                                 |
| 1.01       | Ativo Circulante                                      |
| 1.01.01    | Caixa e Equivalentes de Caixa                         |
| 1.02.03    | Imobilizado                                           |

<br>                                                                

**BPP**

| Code       | Description                                           |
| :---       | :----                                                 |
| 2.01       | Passivo Circulante                                    |
| 2.01.04    | Empréstimos e Financiamentos (Passivo Circulante)     |
| 2.02.01    | Empréstimos e Financiamentos (Passivo Nao Circulante) |

<br>                                                                
                                                                    
**DRE**

| Code       | Description                                           |
| :---       | :----                                                 |
| 3.11       | Lucro/Prejuízo Consolidado do Período                 |

<br>                                                                

**DVA**
                                                     
| Code       | Description                                           |
| :---       | :----                                                 |
| 7.04.01    | Depreciação, Amortização e Exaustão                   |

In [31]:
account_to_be_kept = ['1.01','1.01.01','1.02.03',
                    '2.01','2.01.04','2.02.01',
                    '3.11',
                    '7.04.01']
print(f'accounts selected: {account_to_be_kept}')

accounts selected: ['1.01', '1.01.01', '1.02.03', '2.01', '2.01.04', '2.02.01', '3.11', '7.04.01']

### Installing libs

In [32]:
%pip install requests beautifulsoup4
%pip install chardet
%pip install files
%pip install chardet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /usr/lib/python3.11/site-packages (2.28.1)
Requirement already satisfied: beautifulsoup4 in /usr/lib/python3.11/site-packages (4.12.2)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/lib/python3.11/site-packages (from requests) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3.11/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/lib/python3.11/site-packages (from requests) (1.26.16)
Requirement already satisfied: soupsieve>1.2 in /usr/lib/python3.11/site-packages (from beautifulsoup4) (2.3.2.post1)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: chardet in /usr/lib/python3.11/site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: files in /home/enok/.local/lib/python3.11/site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: chardet in /usr/lib/python3.11/site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

### Importing libs

In [33]:
import pandas as pd
import numpy as np
import re
import os
import requests
import zipfile
import chardet
from urllib.parse import urljoin
from bs4 import BeautifulSoup

### Setting Display

In [34]:
#pd.set_option('display.max_columns', 10)
pd.reset_option('display.max_columns')
pd.set_option('display.width', 200)
#pd.reset_option('display.width')

### Downloading balance sheets files

In [35]:
# Function to check if a file's encoding is UTF-8
def is_utf8(file_path):
    try:
        with open(file_path, 'rb') as file:
            raw_data = file.read()
            result = chardet.detect(raw_data)
            return result['encoding'] == 'utf-8'
    except Exception:
        return False

# URL of the website containing the ZIP files
base_url = "https://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/"

# Create a directory to save the downloaded files
download_dir = "downloaded_files"
os.makedirs(download_dir, exist_ok=True)

# Define the years you want to download (2012 to 2022)
years_to_download = set(str(year) for year in range(2012, 2023))

# Send an HTTP GET request to the URL
response = requests.get(base_url)
response.raise_for_status()

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Find all links on the page
links = soup.find_all("a")

# Iterate through the links and download ZIP files for the specified years
for link in links:
    file_url = urljoin(base_url, link["href"])

    # Example: Assuming ZIP files are named like "itr_cia_aberta_YEAR.zip"
    if file_url.endswith(".zip"):
        zip_file_name = os.path.basename(file_url)

        # Extract the year from the ZIP file name
        year_part = zip_file_name.split("_")[-1].split(".")[0]

        # Check if the ZIP file is from a year within the specified range
        if year_part in years_to_download:
            # Check if the ZIP file already exists
            if not os.path.exists(os.path.join(download_dir, zip_file_name)):
                print(f"Downloading: {zip_file_name}")
                with open(os.path.join(download_dir, zip_file_name), "wb") as file:
                    file_response = requests.get(file_url)
                    file.write(file_response.content)
            else:
                print(f"File already exists: {zip_file_name}")

# Process the downloaded ZIP files (extract, remove "ind" files, and convert)
for zip_file_name in os.listdir(download_dir):
    if zip_file_name.endswith(".zip"):
        zip_file_path = os.path.join(download_dir, zip_file_name)
        zip_subdir = os.path.splitext(zip_file_name)[0]  # Use ZIP file name without extension as subdirectory name
        zip_subdir_path = os.path.join(download_dir, zip_subdir)

        # Check if the ZIP file has already been extracted
        if not os.path.exists(zip_subdir_path):
            print(f"Unzipping: {zip_file_name} -> {zip_subdir_path}")
            with zipfile.ZipFile(zip_file_path, "r") as zip_ref:
                zip_ref.extractall(zip_subdir_path)

            # Remove files with "ind" in their names
            for root, _, files in os.walk(zip_subdir_path):
                for file_name in files:
                    if "ind" in file_name:
                        file_path = os.path.join(root, file_name)
                        os.remove(file_path)
                        print(f"Removed: {file_path}")

            # Remove files with "itr_cia_aberta_20" in their names
            for root, _, files in os.walk(zip_subdir_path):
                for file_name in files:
                    if "itr_cia_aberta_20" in file_name:
                        file_path = os.path.join(root, file_name)
                        os.remove(file_path)
                        print(f"Removed: {file_path}")

            # Remove files with "itr_cia_aberta_DFC_MD_con_20" in their names
            for root, _, files in os.walk(zip_subdir_path):
                for file_name in files:
                    if "itr_cia_aberta_DFC_MD_con_20" in file_name:
                        file_path = os.path.join(root, file_name)
                        os.remove(file_path)
                        print(f"Removed: {file_path}")

            # Convert CSV files from ISO-8859-1 to UTF-8 only if they are not already UTF-8
            for csv_file_name in os.listdir(zip_subdir_path):
                if csv_file_name.endswith(".csv"):
                    csv_file_path = os.path.join(zip_subdir_path, csv_file_name)
                    if not is_utf8(csv_file_path):
                        print(f"Converting encoding: {csv_file_path}")
                        with open(csv_file_path, 'r', encoding='ISO-8859-1') as source_file:
                            content = source_file.read()
                        with open(csv_file_path, 'w', encoding='utf-8') as target_file:
                            target_file.write(content)
                    else:
                        print(f"File already in UTF-8: {csv_file_path}")

print("Download, extraction, file removal, and encoding conversion completed.")

File already exists: itr_cia_aberta_2012.zip
File already exists: itr_cia_aberta_2013.zip
File already exists: itr_cia_aberta_2014.zip
File already exists: itr_cia_aberta_2015.zip
File already exists: itr_cia_aberta_2016.zip
File already exists: itr_cia_aberta_2017.zip
File already exists: itr_cia_aberta_2018.zip
File already exists: itr_cia_aberta_2019.zip
File already exists: itr_cia_aberta_2020.zip
File already exists: itr_cia_aberta_2021.zip
File already exists: itr_cia_aberta_2022.zip
Download, extraction, file removal, and encoding conversion completed.

### Creating the datasets

In [36]:
bpa_df = None
bpp_df = None
dfc_mi_df = None
dmpl_df = None
dra_df = None
dre_df = None
dva_df = None

d_parser = lambda x: pd.datetime.strptime(format='%Y-%m-%d')

# Load files into Data Frames
for dir_name in os.listdir(download_dir):
    if not dir_name.endswith(".zip"):
        dir_path = os.path.join(download_dir, dir_name)

        for csv_file_name in os.listdir(dir_path):
            csv_file_path = os.path.join(dir_path, csv_file_name)
            print("\n-------------------------------------------------------")
            print(f"Reading csv file: {csv_file_path}")

            csv_file_type = os.path.splitext(csv_file_name)[0][15:19].replace("_", "")
            print(f"CSV type: {csv_file_type}")

            local_df = pd.read_csv(csv_file_path, sep=';')

            local_df['DT_REFER'] = pd.to_datetime(local_df['DT_REFER'], format='%Y-%m-%d')
            local_df['DT_FIM_EXERC'] = pd.to_datetime(local_df['DT_FIM_EXERC'], format='%Y-%m-%d')

            print(f"Dataframe size: {len(local_df)}")

            match csv_file_type:
                case 'BPA':
                    if bpa_df is None:
                        bpa_df = local_df
                    else:
                        bpa_df = pd.concat([bpa_df, local_df])
                    print(f"Dataframe size - after concat: {len(bpa_df)}")

                case 'BPP':
                    if bpp_df is None:
                        bpp_df = local_df
                    else:
                        bpp_df = pd.concat([bpp_df, local_df])
                    print(f"Dataframe size - after concat: {len(bpp_df)}")

                case 'DFC':
                    if dfc_mi_df is None:
                        dfc_mi_df = local_df
                    else:
                        dfc_mi_df = pd.concat([dfc_mi_df, local_df])
                    print(f"Dataframe size - after concat: {len(dfc_mi_df)}")

                case 'DMPL':
                    if dmpl_df is None:
                        dmpl_df = local_df
                    else:
                        dmpl_df = pd.concat([dmpl_df, local_df])
                    print(f"Dataframe size - after concat: {len(dmpl_df)}")

                case 'DRA':
                    if dra_df is None:
                        dra_df = local_df
                    else:
                        dra_df = pd.concat([dra_df, local_df])
                    print(f"Dataframe size - after concat: {len(dra_df)}")

                case 'DRE':
                    if dre_df is None:
                        dre_df = local_df
                    else:
                        dre_df = pd.concat([dre_df, local_df])
                    print(f"Dataframe size - after concat: {len(dre_df)}")

                case 'DVA':
                    if dva_df is None:
                        dva_df = local_df
                    else:
                        dva_df = pd.concat([dva_df, local_df])
                    print(f"Dataframe size - after concat: {len(dva_df)}")

print("\nbpa_df:")
print(bpa_df.head(2))

print("\nbpp_df:")
print(bpp_df.head(2))

print("\ndfc_mi_df:")
print(dfc_mi_df.head(2))

print("\ndmpl_df:")
print(dmpl_df.head(2))

print("\ndra_df:")
print(dra_df.head(2))

print("\ndre_df:")
print(dre_df.head(2))

print("\ndva_df:")
print(dva_df.head(2))

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_BPA_con_2012.csv
CSV type: BPA
Dataframe size: 132416
Dataframe size - after concat: 132416

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_BPP_con_2012.csv
CSV type: BPP
Dataframe size: 224976
Dataframe size - after concat: 224976

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_DFC_MI_con_2012.csv
CSV type: DFC
Dataframe size: 80864
Dataframe size - after concat: 80864

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_DMPL_con_2012.csv
CSV type: DMPL
Dataframe size: 458552
Dataframe size - after concat: 458552

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_DRA_con_2012.csv
CSV type: DRA
Dataframe size: 20887
Dataframe size - after concat: 20887

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_DRE_con_2012.csv
CSV type: DRE
Dataframe size: 119445
Dataframe size - after concat: 119445

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2012/itr_cia_aberta_DVA_con_2012.csv
CSV type: DVA
Dataframe size: 85694
Dataframe size - after concat: 85694

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_BPA_con_2013.csv
CSV type: BPA
Dataframe size: 130188
Dataframe size - after concat: 262604

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_BPP_con_2013.csv
CSV type: BPP
Dataframe size: 219866
Dataframe size - after concat: 444842

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_DFC_MI_con_2013.csv
CSV type: DFC
Dataframe size: 81144
Dataframe size - after concat: 162008

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_DMPL_con_2013.csv
CSV type: DMPL
Dataframe size: 453808
Dataframe size - after concat: 912360

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_DRA_con_2013.csv
CSV type: DRA
Dataframe size: 21142
Dataframe size - after concat: 42029

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_DRE_con_2013.csv
CSV type: DRE
Dataframe size: 118622
Dataframe size - after concat: 238067

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2013/itr_cia_aberta_DVA_con_2013.csv
CSV type: DVA
Dataframe size: 83962
Dataframe size - after concat: 169656

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_BPA_con_2014.csv
CSV type: BPA
Dataframe size: 130971
Dataframe size - after concat: 393575

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_BPP_con_2014.csv
CSV type: BPP
Dataframe size: 221196
Dataframe size - after concat: 666038

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_DFC_MI_con_2014.csv
CSV type: DFC
Dataframe size: 82769
Dataframe size - after concat: 244777

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_DMPL_con_2014.csv
CSV type: DMPL
Dataframe size: 458448
Dataframe size - after concat: 1370808

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_DRA_con_2014.csv
CSV type: DRA
Dataframe size: 21575
Dataframe size - after concat: 63604

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_DRE_con_2014.csv
CSV type: DRE
Dataframe size: 119904
Dataframe size - after concat: 357971

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2014/itr_cia_aberta_DVA_con_2014.csv
CSV type: DVA
Dataframe size: 84426
Dataframe size - after concat: 254082

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_BPA_con_2015.csv
CSV type: BPA
Dataframe size: 128798
Dataframe size - after concat: 522373

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_BPP_con_2015.csv
CSV type: BPP
Dataframe size: 216672
Dataframe size - after concat: 882710

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_DFC_MI_con_2015.csv
CSV type: DFC
Dataframe size: 83068
Dataframe size - after concat: 327845

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_DMPL_con_2015.csv
CSV type: DMPL
Dataframe size: 448944
Dataframe size - after concat: 1819752

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_DRA_con_2015.csv
CSV type: DRA
Dataframe size: 21305
Dataframe size - after concat: 84909

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_DRE_con_2015.csv
CSV type: DRE
Dataframe size: 118866
Dataframe size - after concat: 476837

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2015/itr_cia_aberta_DVA_con_2015.csv
CSV type: DVA
Dataframe size: 82518
Dataframe size - after concat: 336600

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_BPA_con_2016.csv
CSV type: BPA
Dataframe size: 126491
Dataframe size - after concat: 648864

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_BPP_con_2016.csv
CSV type: BPP
Dataframe size: 213179
Dataframe size - after concat: 1095889

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_DFC_MI_con_2016.csv
CSV type: DFC
Dataframe size: 82632
Dataframe size - after concat: 410477

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_DMPL_con_2016.csv
CSV type: DMPL
Dataframe size: 440592
Dataframe size - after concat: 2260344

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_DRA_con_2016.csv
CSV type: DRA
Dataframe size: 21098
Dataframe size - after concat: 106007

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_DRE_con_2016.csv
CSV type: DRE
Dataframe size: 114788
Dataframe size - after concat: 591625

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2016/itr_cia_aberta_DVA_con_2016.csv
CSV type: DVA
Dataframe size: 80974
Dataframe size - after concat: 417574

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_BPA_con_2017.csv
CSV type: BPA
Dataframe size: 128978
Dataframe size - after concat: 777842

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_BPP_con_2017.csv
CSV type: BPP
Dataframe size: 217592
Dataframe size - after concat: 1313481

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_DFC_MI_con_2017.csv
CSV type: DFC
Dataframe size: 85008
Dataframe size - after concat: 495485

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_DMPL_con_2017.csv
CSV type: DMPL
Dataframe size: 448064
Dataframe size - after concat: 2708408

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_DRA_con_2017.csv
CSV type: DRA
Dataframe size: 21590
Dataframe size - after concat: 127597

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_DRE_con_2017.csv
CSV type: DRE
Dataframe size: 116638
Dataframe size - after concat: 708263

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2017/itr_cia_aberta_DVA_con_2017.csv
CSV type: DVA
Dataframe size: 82626
Dataframe size - after concat: 500200

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_BPA_con_2018.csv
CSV type: BPA
Dataframe size: 125196
Dataframe size - after concat: 903038

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_BPP_con_2018.csv
CSV type: BPP
Dataframe size: 214792
Dataframe size - after concat: 1528273

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_DFC_MI_con_2018.csv
CSV type: DFC
Dataframe size: 85546
Dataframe size - after concat: 581031

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_DMPL_con_2018.csv
CSV type: DMPL
Dataframe size: 383720
Dataframe size - after concat: 3092128

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_DRA_con_2018.csv
CSV type: DRA
Dataframe size: 21844
Dataframe size - after concat: 149441

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_DRE_con_2018.csv
CSV type: DRE
Dataframe size: 115180
Dataframe size - after concat: 823443

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2018/itr_cia_aberta_DVA_con_2018.csv
CSV type: DVA
Dataframe size: 81696
Dataframe size - after concat: 581896

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_BPA_con_2019.csv
CSV type: BPA
Dataframe size: 126068
Dataframe size - after concat: 1029106

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_BPP_con_2019.csv
CSV type: BPP
Dataframe size: 217079
Dataframe size - after concat: 1745352

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_DFC_MI_con_2019.csv
CSV type: DFC
Dataframe size: 86363
Dataframe size - after concat: 667394

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_DMPL_con_2019.csv
CSV type: DMPL
Dataframe size: 451264
Dataframe size - after concat: 3543392

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_DRA_con_2019.csv
CSV type: DRA
Dataframe size: 21647
Dataframe size - after concat: 171088

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_DRE_con_2019.csv
CSV type: DRE
Dataframe size: 114292
Dataframe size - after concat: 937735

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2019/itr_cia_aberta_DVA_con_2019.csv
CSV type: DVA
Dataframe size: 82248
Dataframe size - after concat: 664144

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_BPA_con_2020.csv
CSV type: BPA
Dataframe size: 145676
Dataframe size - after concat: 1174782

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_BPP_con_2020.csv
CSV type: BPP
Dataframe size: 251254
Dataframe size - after concat: 1996606

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_DFC_MI_con_2020.csv
CSV type: DFC
Dataframe size: 102028
Dataframe size - after concat: 769422

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_DMPL_con_2020.csv
CSV type: DMPL
Dataframe size: 516017
Dataframe size - after concat: 4059409

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_DRA_con_2020.csv
CSV type: DRA
Dataframe size: 24620
Dataframe size - after concat: 195708

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_DRE_con_2020.csv
CSV type: DRE
Dataframe size: 130668
Dataframe size - after concat: 1068403

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2020/itr_cia_aberta_DVA_con_2020.csv
CSV type: DVA
Dataframe size: 94746
Dataframe size - after concat: 758890

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_BPA_con_2021.csv
CSV type: BPA
Dataframe size: 173012
Dataframe size - after concat: 1347794

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_BPP_con_2021.csv
CSV type: BPP
Dataframe size: 298002
Dataframe size - after concat: 2294608

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_DFC_MI_con_2021.csv
CSV type: DFC
Dataframe size: 120850
Dataframe size - after concat: 890272

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_DMPL_con_2021.csv
CSV type: DMPL
Dataframe size: 605398
Dataframe size - after concat: 4664807

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_DRA_con_2021.csv
CSV type: DRA
Dataframe size: 28884
Dataframe size - after concat: 224592

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_DRE_con_2021.csv
CSV type: DRE
Dataframe size: 152686
Dataframe size - after concat: 1221089

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2021/itr_cia_aberta_DVA_con_2021.csv
CSV type: DVA
Dataframe size: 111870
Dataframe size - after concat: 870760

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_BPA_con_2022.csv
CSV type: BPA
Dataframe size: 182138
Dataframe size - after concat: 1529932

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_BPP_con_2022.csv
CSV type: BPP
Dataframe size: 311946
Dataframe size - after concat: 2606554

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_DFC_MI_con_2022.csv
CSV type: DFC
Dataframe size: 130734
Dataframe size - after concat: 1021006

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_DMPL_con_2022.csv
CSV type: DMPL
Dataframe size: 634848
Dataframe size - after concat: 5299655

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_DRA_con_2022.csv
CSV type: DRA
Dataframe size: 31310
Dataframe size - after concat: 255902

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_DRE_con_2022.csv
CSV type: DRE
Dataframe size: 160318
Dataframe size - after concat: 1381407

-------------------------------------------------------
Reading csv file: downloaded_files/itr_cia_aberta_2022/itr_cia_aberta_DVA_con_2022.csv
CSV type: DVA
Dataframe size: 118502
Dataframe size - after concat: 989262

bpa_df:
             CNPJ_CIA   DT_REFER  VERSAO                             DENOM_CIA  CD_CVM                                   GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_FIM_EXERC CD_CONTA     DS_CONTA  \
0  00.001.180/0001-26 2012-03-31       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Ativo  REAL          MIL   PENÚLTIMO   2011-12-31        1  Ativo Total
1  00.001.180/0001-26 2012-03-31       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Ativo  REAL          MIL      ÚLTIMO   2012-03-31        1  Ativo Total

      VL_CONTA ST_CONTA_FIXA
0  163142432.0             S
1  164768886.0             S

bpp_df:
             CNPJ_CIA   DT_REFER  VERSAO                             DENOM_CIA  CD_CVM                                     GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_FIM_EXERC CD_CONTA  \
0  00.001.180/0001-26 2012-03-31       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Passivo  REAL          MIL   PENÚLTIMO   2011-12-31        2
1  00.001.180/0001-26 2012-03-31       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Passivo  REAL          MIL      ÚLTIMO   2012-03-31        2

        DS_CONTA     VL_CONTA ST_CONTA_FIXA
0  Passivo Total  163142432.0             S
1  Passivo Total  164768886.0             S

dfc_mi_df:
             CNPJ_CIA   DT_REFER  VERSAO                             DENOM_CIA  CD_CVM                                          GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC  \
0  00.001.180/0001-26 2012-03-31       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração do Fluxo de Caix...  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31
1  00.001.180/0001-26 2012-03-31       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração do Fluxo de Caix...  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31

  CD_CONTA                               DS_CONTA   VL_CONTA ST_CONTA_FIXA
0     6.01  Caixa Líquido Atividades Operacionais  2648251.0             S
1     6.01  Caixa Líquido Atividades Operacionais  1088786.0             S

dmpl_df:
             CNPJ_CIA   DT_REFER  VERSAO                             DENOM_CIA  CD_CVM                                          GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC  \
0  00.001.180/0001-26 2012-03-31       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração das Mutações do ...  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31
1  00.001.180/0001-26 2012-03-31       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração das Mutações do ...  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31

                      COLUNA_DF CD_CONTA         DS_CONTA    VL_CONTA ST_CONTA_FIXA
0  Capital Social Integralizado     5.01  Saldos Iniciais  26156567.0             S
1  Capital Social Integralizado     5.01  Saldos Iniciais  31305331.0             S

dra_df:

### Saving Dataframes

In [37]:
print("\n")
def saveToFile(dfName, df):
    fileName = dfName + '.csv'
    df = df.set_index('DT_REFER')
    print(f'\nsaving file: {fileName}')
    print(df.head(2))
    df.to_csv('processed_files/' + fileName, sep=';')

saveToFile('bpa_df', bpa_df)
saveToFile('bpp_df', bpp_df)
saveToFile('dfc_mi_df', dfc_mi_df)
saveToFile('dmpl_df', dmpl_df)
saveToFile('dra_df', dra_df)
saveToFile('dre_df', dre_df)
saveToFile('dva_df', dva_df)

saving file: bpa_df.csv
                      CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                   GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_FIM_EXERC CD_CONTA     DS_CONTA  \
DT_REFER
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Ativo  REAL          MIL   PENÚLTIMO   2011-12-31        1  Ativo Total
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Ativo  REAL          MIL      ÚLTIMO   2012-03-31        1  Ativo Total

               VL_CONTA ST_CONTA_FIXA
DT_REFER
2012-03-31  163142432.0             S
2012-03-31  164768886.0             S

saving file: bpp_df.csv
                      CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                     GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_FIM_EXERC CD_CONTA  \
DT_REFER
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Passivo  REAL          MIL   PENÚLTIMO   2011-12-31        2
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Passivo  REAL          MIL      ÚLTIMO   2012-03-31        2

                 DS_CONTA     VL_CONTA ST_CONTA_FIXA
DT_REFER
2012-03-31  Passivo Total  163142432.0             S
2012-03-31  Passivo Total  164768886.0             S

saving file: dfc_mi_df.csv
                      CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                          GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC  \
DT_REFER
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração do Fluxo de Caix...  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração do Fluxo de Caix...  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31

           CD_CONTA                               DS_CONTA   VL_CONTA ST_CONTA_FIXA
DT_REFER
2012-03-31     6.01  Caixa Líquido Atividades Operacionais  2648251.0             S
2012-03-31     6.01  Caixa Líquido Atividades Operacionais  1088786.0             S

saving file: dmpl_df.csv
                      CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                          GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC  \
DT_REFER
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração das Mutações do ...  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração das Mutações do ...  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31

                               COLUNA_DF CD_CONTA         DS_CONTA    VL_CONTA ST_CONTA_FIXA
DT_REFER
2012-03-31  Capital Social Integralizado     5.01  Saldos Iniciais  26156567.0             S
2012-03-31  Capital Social Integralizado     5.01  Saldos Iniciais  31305331.0             S

saving file: dra_df.csv
                      CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                          GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC  \
DT_REFER
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração de Resultado Abr...  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração de Resultado Abr...  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31

           CD_CONTA                              DS_CONTA   VL_CONTA ST_CONTA_FIXA
DT_REFER
2012-03-31     4.01  Lucro Líquido Consolidado do Período  1288846.0             S
2012-03-31     4.01  Lucro Líquido Consolidado do Período  1272468.0             S

saving file: dre_df.csv
                      CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                   GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC CD_CONTA  \
DT_REFER
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração do Resultado  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31     3.01
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração do Resultado  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31     3.01

                                          DS_CONTA   VL_CONTA ST_CONTA_FIXA
DT_REFER
2012-03-31  Receita de Venda de Bens e/ou Serviços  8551982.0             S
2012-03-31  Receita de Venda de Bens e/ou Serviços  9270930.0             S

saving file: dva_df.csv
                      CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                          GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC  \
DT_REFER
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração de Valor Adicionado  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31
2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração de Valor Adicionado  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31

           CD_CONTA  DS_CONTA   VL_CONTA ST_CONTA_FIXA
DT_REFER
2012-03-31     7.01  Receitas  8753827.0             S
2012-03-31     7.01  Receitas  9577248.0             S

## 2. Data analising

### Loading Dataframes

In [38]:
print("\n")
def readCsv(dfName):
    fileName = dfName + '.csv'
    print(f'\nreading file: {fileName}')
    df_read = pd.read_csv('processed_files/' + fileName, sep=';')
    print(df_read.head(2))
    return df_read

bpa_df = readCsv('bpa_df')
bpp_df = readCsv('bpp_df')
dfc_mi_df = readCsv('dfc_mi_df')
dmpl_df = readCsv('dmpl_df')
dra_df = readCsv('dra_df')
dre_df = readCsv('dre_df')
dva_df = readCsv('dva_df')

reading file: bpa_df.csv
     DT_REFER            CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                   GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_FIM_EXERC CD_CONTA     DS_CONTA  \
0  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Ativo  REAL          MIL   PENÚLTIMO   2011-12-31        1  Ativo Total
1  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Ativo  REAL          MIL      ÚLTIMO   2012-03-31        1  Ativo Total

      VL_CONTA ST_CONTA_FIXA
0  163142432.0             S
1  164768886.0             S

reading file: bpp_df.csv
     DT_REFER            CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                     GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_FIM_EXERC CD_CONTA  \
0  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Passivo  REAL          MIL   PENÚLTIMO   2011-12-31        2
1  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Balanço Patrimonial Passivo  REAL          MIL      ÚLTIMO   2012-03-31        2

        DS_CONTA     VL_CONTA ST_CONTA_FIXA
0  Passivo Total  163142432.0             S
1  Passivo Total  164768886.0             S

reading file: dfc_mi_df.csv
     DT_REFER            CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                          GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC  \
0  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração do Fluxo de Caix...  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31
1  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração do Fluxo de Caix...  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31

  CD_CONTA                               DS_CONTA   VL_CONTA ST_CONTA_FIXA
0     6.01  Caixa Líquido Atividades Operacionais  2648251.0             S
1     6.01  Caixa Líquido Atividades Operacionais  1088786.0             S

reading file: dmpl_df.csv
     DT_REFER            CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                          GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC  \
0  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração das Mutações do ...  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31
1  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração das Mutações do ...  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31

                      COLUNA_DF CD_CONTA         DS_CONTA    VL_CONTA ST_CONTA_FIXA
0  Capital Social Integralizado     5.01  Saldos Iniciais  26156567.0             S
1  Capital Social Integralizado     5.01  Saldos Iniciais  31305331.0             S

reading file: dra_df.csv
     DT_REFER            CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                          GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC  \
0  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração de Resultado Abr...  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31
1  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração de Resultado Abr...  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31

  CD_CONTA                              DS_CONTA   VL_CONTA ST_CONTA_FIXA
0     4.01  Lucro Líquido Consolidado do Período  1288846.0             S
1     4.01  Lucro Líquido Consolidado do Período  1272468.0             S

reading file: dre_df.csv
     DT_REFER            CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                   GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC CD_CONTA  \
0  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração do Resultado  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31     3.01
1  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração do Resultado  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31     3.01

                                 DS_CONTA   VL_CONTA ST_CONTA_FIXA
0  Receita de Venda de Bens e/ou Serviços  8551982.0             S
1  Receita de Venda de Bens e/ou Serviços  9270930.0             S

reading file: dva_df.csv
     DT_REFER            CNPJ_CIA  VERSAO                             DENOM_CIA  CD_CVM                                          GRUPO_DFP MOEDA ESCALA_MOEDA ORDEM_EXERC DT_INI_EXERC DT_FIM_EXERC  \
0  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração de Valor Adicionado  REAL          MIL   PENÚLTIMO   2011-01-01   2011-03-31
1  2012-03-31  00.001.180/0001-26       2  CENTRAIS ELET BRAS S.A. - ELETROBRAS    2437  DF Consolidado - Demonstração de Valor Adicionado  REAL          MIL      ÚLTIMO   2012-01-01   2012-03-31

  CD_CONTA  DS_CONTA   VL_CONTA ST_CONTA_FIXA
0     7.01  Receitas  8753827.0             S
1     7.01  Receitas  9577248.0             S

### Describing data structures

In [39]:
def print_df(df_name, df):
    print(f'\n\n{df_name}: {len(df):,} records')
    print('-------------------------------------------------------------------')
    print('\t\t\t TYPES')
    print(df.dtypes)

    print('\t\t\t NULL VALUES')
    print('CNPJ_CIA: ' + str(df['CNPJ_CIA'].isnull().sum().sum()))
    print('DT_REFER: ' + str(df['DT_REFER'].isnull().sum().sum()))
    print('VERSAO: ' + str(df['VERSAO'].isnull().sum().sum()))
    print('DENOM_CIA: ' + str(df['DENOM_CIA'].isnull().sum().sum()))
    print('CD_CVM: ' + str(df['CD_CVM'].isnull().sum().sum()))
    print('GRUPO_DFP: ' + str(df['GRUPO_DFP'].isnull().sum().sum()))
    print('MOEDA: ' + str(df['MOEDA'].isnull().sum().sum()))
    print('ESCALA_MOEDA: ' + str(df['ESCALA_MOEDA'].isnull().sum().sum()))
    print('ORDEM_EXERC: ' + str(df['ORDEM_EXERC'].isnull().sum().sum()))
    print('DT_FIM_EXERC: ' + str(df['DT_FIM_EXERC'].isnull().sum().sum()))
    print('CD_CONTA: ' + str(df['CD_CONTA'].isnull().sum().sum()))
    print('DS_CONTA: ' + str(df['DS_CONTA'].isnull().sum().sum()))
    print('VL_CONTA: ' + str(df['VL_CONTA'].isnull().sum().sum()))
    print('ST_CONTA_FIXA: ' + str(df['ST_CONTA_FIXA'].isnull().sum().sum()))

    print('\t\t\t COUNT UNIQUE VALUES')
    print('CNPJ_CIA: ' + str(len(df['CNPJ_CIA'].unique())))
    print('DT_REFER: ' + str(len(df['DT_REFER'].unique())))
    print('VERSAO: ' + str(len(df['VERSAO'].unique())))
    print('DENOM_CIA: ' + str(len(df['DENOM_CIA'].unique())))
    print('CD_CVM: ' + str(len(df['CD_CVM'].unique())))
    print('GRUPO_DFP: ' + str(len(df['GRUPO_DFP'].unique())))
    print('MOEDA: ' + str(len(df['MOEDA'].unique())))
    print('ESCALA_MOEDA: ' + str(len(df['ESCALA_MOEDA'].unique())))
    print('ORDEM_EXERC: ' + str(len(df['ORDEM_EXERC'].unique())))
    print('DT_FIM_EXERC: ' + str(len(df['DT_FIM_EXERC'].unique())))
    print('CD_CONTA: ' + str(len(df['CD_CONTA'].unique())))
    print('DS_CONTA: ' + str(len(df['DS_CONTA'].unique())))
    print('VL_CONTA: ' + str(len(df['VL_CONTA'].unique())))
    print('ST_CONTA_FIXA: ' + str(len(df['ST_CONTA_FIXA'].unique())))

    print('\t\t\t UNIQUE VALUES')
    print('CNPJ_CIA: ' + str(len(df['CNPJ_CIA'].unique())))
    print('DT_REFER: ' + str(len(df['DT_REFER'].unique())))
    print('VERSAO: ' + str(df['VERSAO'].unique()))
    print('DENOM_CIA: ' + str(len(df['DENOM_CIA'].unique())))
    print('CD_CVM: ' + str(len(df['CD_CVM'].unique())))
    print('GRUPO_DFP: ' + str(df['GRUPO_DFP'].unique()))
    print('MOEDA: ' + str(df['MOEDA'].unique()))
    print('ESCALA_MOEDA: ' + str(df['ESCALA_MOEDA'].unique()))
    print('ORDEM_EXERC: ' + str(df['ORDEM_EXERC'].unique()))
    print('DT_FIM_EXERC: ' + str(len(df['DT_FIM_EXERC'].unique())))
    print('CD_CONTA: ' + str(len(df['CD_CONTA'].unique())))
    print('DS_CONTA: ' + str(len(df['DS_CONTA'].unique())))
    print('VL_CONTA: ' + str(len(df['VL_CONTA'].unique())))
    print('ST_CONTA_FIXA: ' + str(df['ST_CONTA_FIXA'].unique()))


print_df('bpa_df', bpa_df)
print_df('bpp_df', bpp_df)
print_df('dfc_mi_df', dfc_mi_df)
print_df('dmpl_df', dmpl_df)
print_df('dra_df', dra_df)
print_df('dre_df', dre_df)
print_df('dva_df', dva_df)

bpa_df: 1,529,932 records
-------------------------------------------------------------------
			 TYPES
DT_REFER          object
CNPJ_CIA          object
VERSAO             int64
DENOM_CIA         object
CD_CVM             int64
GRUPO_DFP         object
MOEDA             object
ESCALA_MOEDA      object
ORDEM_EXERC       object
DT_FIM_EXERC      object
CD_CONTA          object
DS_CONTA          object
VL_CONTA         float64
ST_CONTA_FIXA     object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 0
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_FIM_EXERC: 78
CD_CONTA: 406
DS_CONTA: 5305
VL_CONTA: 240482
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Balanço Patrimonial Ativo']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_FIM_EXERC: 78
CD_CONTA: 406
DS_CONTA: 5305
VL_CONTA: 240482
ST_CONTA_FIXA: ['S' 'N']


bpp_df: 2,606,554 records
-------------------------------------------------------------------
			 TYPES
DT_REFER          object
CNPJ_CIA          object
VERSAO             int64
DENOM_CIA         object
CD_CVM             int64
GRUPO_DFP         object
MOEDA             object
ESCALA_MOEDA      object
ORDEM_EXERC       object
DT_FIM_EXERC      object
CD_CONTA          object
DS_CONTA          object
VL_CONTA         float64
ST_CONTA_FIXA     object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 0
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_FIM_EXERC: 78
CD_CONTA: 462
DS_CONTA: 7629
VL_CONTA: 292142
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Balanço Patrimonial Passivo']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_FIM_EXERC: 78
CD_CONTA: 462
DS_CONTA: 7629
VL_CONTA: 292142
ST_CONTA_FIXA: ['S' 'N']


dfc_mi_df: 1,021,006 records
-------------------------------------------------------------------
			 TYPES
DT_REFER          object
CNPJ_CIA          object
VERSAO             int64
DENOM_CIA         object
CD_CVM             int64
GRUPO_DFP         object
MOEDA             object
ESCALA_MOEDA      object
ORDEM_EXERC       object
DT_INI_EXERC      object
DT_FIM_EXERC      object
CD_CONTA          object
DS_CONTA          object
VL_CONTA         float64
ST_CONTA_FIXA     object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 4
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 620
DT_REFER: 62
VERSAO: 6
DENOM_CIA: 660
CD_CVM: 622
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_FIM_EXERC: 69
CD_CONTA: 113
DS_CONTA: 35761
VL_CONTA: 224209
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 620
DT_REFER: 62
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 660
CD_CVM: 622
GRUPO_DFP: ['DF Consolidado - Demonstração do Fluxo de Caixa (Método Indireto)']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_FIM_EXERC: 69
CD_CONTA: 113
DS_CONTA: 35761
VL_CONTA: 224209
ST_CONTA_FIXA: ['S' 'N']


dmpl_df: 5,299,655 records
-------------------------------------------------------------------
			 TYPES
DT_REFER          object
CNPJ_CIA          object
VERSAO             int64
DENOM_CIA         object
CD_CVM             int64
GRUPO_DFP         object
MOEDA             object
ESCALA_MOEDA      object
ORDEM_EXERC       object
DT_INI_EXERC      object
DT_FIM_EXERC      object
COLUNA_DF         object
CD_CONTA          object
DS_CONTA          object
VL_CONTA         float64
ST_CONTA_FIXA     object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 24
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_FIM_EXERC: 71
CD_CONTA: 118
DS_CONTA: 9323
VL_CONTA: 152457
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Demonstração das Mutações do Patrimônio Líquido']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_FIM_EXERC: 71
CD_CONTA: 118
DS_CONTA: 9323
VL_CONTA: 152457
ST_CONTA_FIXA: ['S' 'N']


dra_df: 255,902 records
-------------------------------------------------------------------
			 TYPES
DT_REFER          object
CNPJ_CIA          object
VERSAO             int64
DENOM_CIA         object
CD_CVM             int64
GRUPO_DFP         object
MOEDA             object
ESCALA_MOEDA      object
ORDEM_EXERC       object
DT_INI_EXERC      object
DT_FIM_EXERC      object
CD_CONTA          object
DS_CONTA          object
VL_CONTA         float64
ST_CONTA_FIXA     object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 0
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_FIM_EXERC: 71
CD_CONTA: 49
DS_CONTA: 2581
VL_CONTA: 67778
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Demonstração de Resultado Abrangente']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_FIM_EXERC: 71
CD_CONTA: 49
DS_CONTA: 2581
VL_CONTA: 67778
ST_CONTA_FIXA: ['S' 'N']


dre_df: 1,381,407 records
-------------------------------------------------------------------
			 TYPES
DT_REFER          object
CNPJ_CIA          object
VERSAO             int64
DENOM_CIA         object
CD_CVM             int64
GRUPO_DFP         object
MOEDA             object
ESCALA_MOEDA      object
ORDEM_EXERC       object
DT_INI_EXERC      object
DT_FIM_EXERC      object
CD_CONTA          object
DS_CONTA          object
VL_CONTA         float64
ST_CONTA_FIXA     object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 0
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_FIM_EXERC: 71
CD_CONTA: 262
DS_CONTA: 4277
VL_CONTA: 288527
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Demonstração do Resultado']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_FIM_EXERC: 71
CD_CONTA: 262
DS_CONTA: 4277
VL_CONTA: 288527
ST_CONTA_FIXA: ['S' 'N']


dva_df: 989,262 records
-------------------------------------------------------------------
			 TYPES
DT_REFER          object
CNPJ_CIA          object
VERSAO             int64
DENOM_CIA         object
CD_CVM             int64
GRUPO_DFP         object
MOEDA             object
ESCALA_MOEDA      object
ORDEM_EXERC       object
DT_INI_EXERC      object
DT_FIM_EXERC      object
CD_CONTA          object
DS_CONTA          object
VL_CONTA         float64
ST_CONTA_FIXA     object
dtype: object
			 NULL VALUES
CNPJ_CIA: 0
DT_REFER: 0
VERSAO: 0
DENOM_CIA: 0
CD_CVM: 0
GRUPO_DFP: 0
MOEDA: 0
ESCALA_MOEDA: 0
ORDEM_EXERC: 0
DT_FIM_EXERC: 0
CD_CONTA: 0
DS_CONTA: 0
VL_CONTA: 0
ST_CONTA_FIXA: 0
			 COUNT UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: 6
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: 1
MOEDA: 1
ESCALA_MOEDA: 2
ORDEM_EXERC: 2
DT_FIM_EXERC: 71
CD_CONTA: 212
DS_CONTA: 2669
VL_CONTA: 226742
ST_CONTA_FIXA: 2
			 UNIQUE VALUES
CNPJ_CIA: 634
DT_REFER: 63
VERSAO: [2 1 3 4 5 6]
DENOM_CIA: 676
CD_CVM: 636
GRUPO_DFP: ['DF Consolidado - Demonstração de Valor Adicionado']
MOEDA: ['REAL']
ESCALA_MOEDA: ['MIL' 'UNIDADE']
ORDEM_EXERC: ['PENÚLTIMO' 'ÚLTIMO']
DT_FIM_EXERC: 71
CD_CONTA: 212
DS_CONTA: 2669
VL_CONTA: 226742
ST_CONTA_FIXA: ['S' 'N']

## 3. Data cleansing

### Cleaning up

In [40]:
# calculate value according to field ESCALA_MOELA
def set_vl_conta(df_name, df):
    print(f'setting vl_conta based on escala_moeda: {df_name}')
    df['VL_CONTA'] = np.where(df['ESCALA_MOEDA'] == 'MIL', df['VL_CONTA'] * 1000, df['VL_CONTA'])
    return df

def remove_non_mandatory_columns(df_name, df):
    print(f'removing non mandatory columns from: {df_name}')
    existing_cols = df.columns.intersection(['CNPJ_CIA', 'VERSAO', 'DENOM_CIA', 'MOEDA', 'ESCALA_MOEDA', 'DT_INI_EXERC', 'COLUNA_DF', 'ST_CONTA_FIXA'])
    return df.drop(columns=existing_cols, axis=1)

def remove_non_used_accounts(df_name, df):
    print(f'removing non used accounts for: {df_name}')
    print(f'accounts selected: {account_to_be_kept}')
    return df[df['CD_CONTA'].isin(account_to_be_kept)]



print("\n")
bpa_df = set_vl_conta('bpa_df', bpa_df)
bpp_df = set_vl_conta('bpp_df', bpp_df)
dfc_mi_df = set_vl_conta('dfc_mi_df', dfc_mi_df)
dmpl_df = set_vl_conta('dmpl_df', dmpl_df)
dra_df = set_vl_conta('dra_df', dra_df)
dre_df = set_vl_conta('dre_df', dre_df)
dva_df = set_vl_conta('dva_df', dva_df)

print("\n")
bpa_df = remove_non_mandatory_columns('bpa_df', bpa_df)
bpp_df = remove_non_mandatory_columns('bpp_df', bpp_df)
dfc_mi_df = remove_non_mandatory_columns('dfc_mi_df', dfc_mi_df)
dmpl_df = remove_non_mandatory_columns('dmpl_df', dmpl_df)
dra_df = remove_non_mandatory_columns('dra_df', dra_df)
dre_df = remove_non_mandatory_columns('dre_df', dre_df)
dva_df = remove_non_mandatory_columns('dva_df', dva_df)

print("\n")
bpa_df = remove_non_used_accounts('bpa_df', bpa_df)
bpp_df = remove_non_used_accounts('bpp_df', bpp_df)
dfc_mi_df = remove_non_used_accounts('dfc_mi_df', dfc_mi_df)
dmpl_df = remove_non_used_accounts('dmpl_df', dmpl_df)
dra_df = remove_non_used_accounts('dra_df', dra_df)
dre_df = remove_non_used_accounts('dre_df', dre_df)
dva_df = remove_non_used_accounts('dva_df', dva_df)

setting vl_conta based on escala_moeda: bpa_df
setting vl_conta based on escala_moeda: bpp_df
setting vl_conta based on escala_moeda: dfc_mi_df
setting vl_conta based on escala_moeda: dmpl_df
setting vl_conta based on escala_moeda: dra_df
setting vl_conta based on escala_moeda: dre_df
setting vl_conta based on escala_moeda: dva_df


removing non mandatory columns from: bpa_df
removing non mandatory columns from: bpp_df
removing non mandatory columns from: dfc_mi_df
removing non mandatory columns from: dmpl_df
removing non mandatory columns from: dra_df
removing non mandatory columns from: dre_df
removing non mandatory columns from: dva_df


removing non used accounts for: bpa_df
accounts selected: ['1.01', '1.01.01', '1.02.03', '2.01', '2.01.04', '2.02.01', '3.11', '7.04.01']
removing non used accounts for: bpp_df
accounts selected: ['1.01', '1.01.01', '1.02.03', '2.01', '2.01.04', '2.02.01', '3.11', '7.04.01']
removing non used accounts for: dfc_mi_df
accounts selected: ['1.01', '1.01.01', '1.02.03', '2.01', '2.01.04', '2.02.01', '3.11', '7.04.01']
removing non used accounts for: dmpl_df
accounts selected: ['1.01', '1.01.01', '1.02.03', '2.01', '2.01.04', '2.02.01', '3.11', '7.04.01']
removing non used accounts for: dra_df
accounts selected: ['1.01', '1.01.01', '1.02.03', '2.01', '2.01.04', '2.02.01', '3.11', '7.04.01']
removing non used accounts for: dre_df
accounts selected: ['1.01', '1.01.01', '1.02.03', '2.01', '2.01.04', '2.02.01', '3.11', '7.04.01']
removing non used accounts for: dva_df
accounts selected: ['1.01', '1.01.01', '1.02.03', '2.01', '2.01.04', '2.02.01', '3.11', '7.04.01']

## 4. Data transformation

### Merge dataframes into one

In [41]:
df = pd.concat([bpa_df, bpp_df, dfc_mi_df, dmpl_df, dra_df, dre_df, dva_df])

print(df.dtypes)
print("\n")
print(df)
print("\n")
df.head()

DT_REFER         object
CD_CVM            int64
GRUPO_DFP        object
ORDEM_EXERC      object
DT_FIM_EXERC     object
CD_CONTA         object
DS_CONTA         object
VL_CONTA        float64
dtype: object


          DT_REFER  CD_CVM                                          GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA                             DS_CONTA      VL_CONTA
2       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01                     Ativo Circulante  3.666267e+10
3       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01                     Ativo Circulante  3.665730e+10
4       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.01.01        Caixa e Equivalentes de Caixa  7.994425e+09
5       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31  1.01.01        Caixa e Equivalentes de Caixa  8.232203e+09
142     2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.02.03                          Imobilizado  5.321486e+10
...            ...     ...                                                ...         ...          ...      ...                                  ...           ...
989047  2022-03-31   21091  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-03-31  7.04.01  Depreciação, Amortização e Exaustão -1.915340e+08
989126  2022-06-30   21091  DF Consolidado - Demonstração de Valor Adicionado   PENÚLTIMO   2021-06-30  7.04.01  Depreciação, Amortização e Exaustão -3.530700e+08
989127  2022-06-30   21091  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-06-30  7.04.01  Depreciação, Amortização e Exaustão -4.090060e+08
989206  2022-09-30   21091  DF Consolidado - Demonstração de Valor Adicionado   PENÚLTIMO   2021-09-30  7.04.01  Depreciação, Amortização e Exaustão -5.335000e+08
989207  2022-09-30   21091  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-09-30  7.04.01  Depreciação, Amortização e Exaustão -6.188070e+08

[200561 rows x 8 columns]

       DT_REFER  CD_CVM                                   GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA                       DS_CONTA      VL_CONTA
2    2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01               Ativo Circulante  3.666267e+10
3    2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01               Ativo Circulante  3.665730e+10
4    2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.01.01  Caixa e Equivalentes de Caixa  7.994425e+09
5    2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31  1.01.01  Caixa e Equivalentes de Caixa  8.232203e+09
142  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.02.03                    Imobilizado  5.321486e+10

### Saving merged Dataframes

In [42]:
saveToFile('df', df)

saving file: df.csv
            CD_CVM                                   GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA          DS_CONTA      VL_CONTA
DT_REFER
2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01  Ativo Circulante  3.666267e+10
2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01  Ativo Circulante  3.665730e+10

### Loading merged Dataframes

In [43]:
df = readCsv('df')

print(df.dtypes)
print("\n")
print(df)
print("\n")
df.head()

reading file: df.csv
     DT_REFER  CD_CVM                                   GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA          DS_CONTA      VL_CONTA
0  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01  Ativo Circulante  3.666267e+10
1  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01  Ativo Circulante  3.665730e+10
DT_REFER         object
CD_CVM            int64
GRUPO_DFP        object
ORDEM_EXERC      object
DT_FIM_EXERC     object
CD_CONTA         object
DS_CONTA         object
VL_CONTA        float64
dtype: object


          DT_REFER  CD_CVM                                          GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA                             DS_CONTA      VL_CONTA
0       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01                     Ativo Circulante  3.666267e+10
1       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01                     Ativo Circulante  3.665730e+10
2       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.01.01        Caixa e Equivalentes de Caixa  7.994425e+09
3       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31  1.01.01        Caixa e Equivalentes de Caixa  8.232203e+09
4       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.02.03                          Imobilizado  5.321486e+10
...            ...     ...                                                ...         ...          ...      ...                                  ...           ...
200556  2022-03-31   21091  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-03-31  7.04.01  Depreciação, Amortização e Exaustão -1.915340e+08
200557  2022-06-30   21091  DF Consolidado - Demonstração de Valor Adicionado   PENÚLTIMO   2021-06-30  7.04.01  Depreciação, Amortização e Exaustão -3.530700e+08
200558  2022-06-30   21091  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-06-30  7.04.01  Depreciação, Amortização e Exaustão -4.090060e+08
200559  2022-09-30   21091  DF Consolidado - Demonstração de Valor Adicionado   PENÚLTIMO   2021-09-30  7.04.01  Depreciação, Amortização e Exaustão -5.335000e+08
200560  2022-09-30   21091  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-09-30  7.04.01  Depreciação, Amortização e Exaustão -6.188070e+08

[200561 rows x 8 columns]

     DT_REFER  CD_CVM                                   GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA                       DS_CONTA      VL_CONTA
0  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01               Ativo Circulante  3.666267e+10
1  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01               Ativo Circulante  3.665730e+10
2  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.01.01  Caixa e Equivalentes de Caixa  7.994425e+09
3  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31  1.01.01  Caixa e Equivalentes de Caixa  8.232203e+09
4  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.02.03                    Imobilizado  5.321486e+10

### Selecting companies

In [44]:
print(f'selecting companies : {companies}')
companies_df = df[df['CD_CVM'].isin(companies)]

print(companies_df.dtypes)
print("\n")
print(companies_df)
print("\n")
companies_df.head(2)

selecting companies : [18660, 2453, 2437, 21237, 20257]
DT_REFER         object
CD_CVM            int64
GRUPO_DFP        object
ORDEM_EXERC      object
DT_FIM_EXERC     object
CD_CONTA         object
DS_CONTA         object
VL_CONTA        float64
dtype: object


          DT_REFER  CD_CVM                                          GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA                             DS_CONTA      VL_CONTA
0       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01                     Ativo Circulante  3.666267e+10
1       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01                     Ativo Circulante  3.665730e+10
2       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.01.01        Caixa e Equivalentes de Caixa  7.994425e+09
3       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31  1.01.01        Caixa e Equivalentes de Caixa  8.232203e+09
4       2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.02.03                          Imobilizado  5.321486e+10
...            ...     ...                                                ...         ...          ...      ...                                  ...           ...
199168  2022-03-31    2453  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-03-31  7.04.01  Depreciação, Amortização e Exaustão -2.839090e+08
199169  2022-06-30    2453  DF Consolidado - Demonstração de Valor Adicionado   PENÚLTIMO   2021-06-30  7.04.01  Depreciação, Amortização e Exaustão -4.801640e+08
199170  2022-06-30    2453  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-06-30  7.04.01  Depreciação, Amortização e Exaustão -5.719290e+08
199171  2022-09-30    2453  DF Consolidado - Demonstração de Valor Adicionado   PENÚLTIMO   2021-09-30  7.04.01  Depreciação, Amortização e Exaustão -7.634820e+08
199172  2022-09-30    2453  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-09-30  7.04.01  Depreciação, Amortização e Exaustão -8.695360e+08

[2860 rows x 8 columns]

     DT_REFER  CD_CVM                                   GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA          DS_CONTA      VL_CONTA
0  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01  Ativo Circulante  3.666267e+10
1  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01  Ativo Circulante  3.665730e+10

### Saving companies Dataframe

In [45]:
saveToFile('../companies_df', companies_df)

saving file: ../companies_df.csv
            CD_CVM                                   GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA          DS_CONTA      VL_CONTA
DT_REFER
2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01  Ativo Circulante  3.666267e+10
2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01  Ativo Circulante  3.665730e+10

### Loading companies DataFrame

In [46]:
df = readCsv('../companies_df')

print(df.dtypes)
print("\n")
print(df)
print("\n")
df.head()

reading file: ../companies_df.csv
     DT_REFER  CD_CVM                                   GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA          DS_CONTA      VL_CONTA
0  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01  Ativo Circulante  3.666267e+10
1  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01  Ativo Circulante  3.665730e+10
DT_REFER         object
CD_CVM            int64
GRUPO_DFP        object
ORDEM_EXERC      object
DT_FIM_EXERC     object
CD_CONTA         object
DS_CONTA         object
VL_CONTA        float64
dtype: object


        DT_REFER  CD_CVM                                          GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA                             DS_CONTA      VL_CONTA
0     2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01                     Ativo Circulante  3.666267e+10
1     2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01                     Ativo Circulante  3.665730e+10
2     2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.01.01        Caixa e Equivalentes de Caixa  7.994425e+09
3     2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31  1.01.01        Caixa e Equivalentes de Caixa  8.232203e+09
4     2012-03-31    2437         DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.02.03                          Imobilizado  5.321486e+10
...          ...     ...                                                ...         ...          ...      ...                                  ...           ...
2855  2022-03-31    2453  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-03-31  7.04.01  Depreciação, Amortização e Exaustão -2.839090e+08
2856  2022-06-30    2453  DF Consolidado - Demonstração de Valor Adicionado   PENÚLTIMO   2021-06-30  7.04.01  Depreciação, Amortização e Exaustão -4.801640e+08
2857  2022-06-30    2453  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-06-30  7.04.01  Depreciação, Amortização e Exaustão -5.719290e+08
2858  2022-09-30    2453  DF Consolidado - Demonstração de Valor Adicionado   PENÚLTIMO   2021-09-30  7.04.01  Depreciação, Amortização e Exaustão -7.634820e+08
2859  2022-09-30    2453  DF Consolidado - Demonstração de Valor Adicionado      ÚLTIMO   2022-09-30  7.04.01  Depreciação, Amortização e Exaustão -8.695360e+08

[2860 rows x 8 columns]

     DT_REFER  CD_CVM                                   GRUPO_DFP ORDEM_EXERC DT_FIM_EXERC CD_CONTA                       DS_CONTA      VL_CONTA
0  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31     1.01               Ativo Circulante  3.666267e+10
1  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31     1.01               Ativo Circulante  3.665730e+10
2  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.01.01  Caixa e Equivalentes de Caixa  7.994425e+09
3  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo      ÚLTIMO   2012-03-31  1.01.01  Caixa e Equivalentes de Caixa  8.232203e+09
4  2012-03-31    2437  DF Consolidado - Balanço Patrimonial Ativo   PENÚLTIMO   2011-12-31  1.02.03                    Imobilizado  5.321486e+10

### Basic functions for cleaning up

In [47]:
# Reorder the columns to move 'ORDEM_EXERC' to the last position
cols = list(df.columns)
cols.remove('ORDEM_EXERC')
cols.insert(-1, 'ORDEM_EXERC')
df = df[cols]

# Reorder the columns to move 'CD_CONTA' to the 2nd position
cols = list(df.columns)
cols.remove('CD_CONTA')
cols.insert(2, 'CD_CONTA')
df = df[cols]

# DT_REFER asdatetime
df['DT_REFER'] = pd.to_datetime(df['DT_REFER'], format='%Y-%m-%d')


def createPenultimo_DT_FIM_EXERC(df, position):

    columnName = 'DT_FIM_EXERC'

    # The field DT_FIM_EXERC for BPA and BPP is 3 months in the past, for the others (DFC_MI, DMPL, DRA, DRE, DVA) this value is past 12 months
    newColumnNameBP = columnName + '_PENULTIMO' + '_BP'
    newColumnName = columnName + '_PENULTIMO'
    bpList = ['DF Consolidado - Balanço Patrimonial Ativo', 'DF Consolidado - Balanço Patrimonial Passivo']

    df[newColumnNameBP] = np.where(
        (df['ORDEM_EXERC'] == 'PENÚLTIMO') & df['GRUPO_DFP'].isin(bpList),
        df[columnName],
        None)
    df[newColumnName] = np.where(
        (df['ORDEM_EXERC'] == 'PENÚLTIMO') & ~(df['GRUPO_DFP'].isin(bpList)),
        df[columnName],
        None)

    # remove this same values from column
    df[columnName] = np.where(
        df['ORDEM_EXERC'] != 'PENÚLTIMO',
        df[columnName],
        None)

    df[newColumnNameBP] = pd.to_datetime(df[newColumnNameBP], format='%Y-%m-%d')
    df[newColumnName] = pd.to_datetime(df[newColumnName], format='%Y-%m-%d')
    df[columnName] = pd.to_datetime(df[columnName], format='%Y-%m-%d')

    # Reorder the columns to move to correct position
    cols = list(df.columns)

        # BP
    cols.remove(newColumnNameBP)
    cols.insert(position, newColumnNameBP)
    df = df[cols]

        # not BP
    cols.remove(newColumnName)
    cols.insert(position+1, newColumnName)
    df = df[cols]

    return df

def createPenultimo_VL_CONTA(df, position):

    columnName = 'VL_CONTA'

    # The field DT_FIM_EXERC for BPA and BPP is 3 months in the past, for the others (DFC_MI, DMPL, DRA, DRE, DVA) this value is past 12 months
    newColumnName = columnName + '_PENULTIMO'

    df[newColumnName] = np.where(
        (df['ORDEM_EXERC'] == 'PENÚLTIMO'),
        df[columnName],
        None)

    # remove this same values from column
    df[columnName] = np.where(
        df['ORDEM_EXERC'] != 'PENÚLTIMO',
        df[columnName],
        None)

    df[newColumnName] = df[newColumnName].astype(float)
    df[columnName] = df[columnName].astype(float)

    # Reorder the columns to move to correct position
    cols = list(df.columns)

    cols.remove(newColumnName)
    cols.insert(position, newColumnName)
    df = df[cols]

    return df

### Create column 'DT_FIM_EXERC_PENULTIMO'

In [48]:
df = createPenultimo_DT_FIM_EXERC(df, 4)

print(df.dtypes)
print("\n")
df.head()

DT_REFER                     datetime64[ns]
CD_CVM                                int64
CD_CONTA                             object
GRUPO_DFP                            object
DT_FIM_EXERC_PENULTIMO_BP    datetime64[ns]
DT_FIM_EXERC_PENULTIMO       datetime64[ns]
DT_FIM_EXERC                 datetime64[ns]
DS_CONTA                             object
ORDEM_EXERC                          object
VL_CONTA                            float64
dtype: object

    DT_REFER  CD_CVM CD_CONTA                                   GRUPO_DFP DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC                       DS_CONTA ORDEM_EXERC      VL_CONTA
0 2012-03-31    2437     1.01  DF Consolidado - Balanço Patrimonial Ativo                2011-12-31                    NaT          NaT               Ativo Circulante   PENÚLTIMO  3.666267e+10
1 2012-03-31    2437     1.01  DF Consolidado - Balanço Patrimonial Ativo                       NaT                    NaT   2012-03-31               Ativo Circulante      ÚLTIMO  3.665730e+10
2 2012-03-31    2437  1.01.01  DF Consolidado - Balanço Patrimonial Ativo                2011-12-31                    NaT          NaT  Caixa e Equivalentes de Caixa   PENÚLTIMO  7.994425e+09
3 2012-03-31    2437  1.01.01  DF Consolidado - Balanço Patrimonial Ativo                       NaT                    NaT   2012-03-31  Caixa e Equivalentes de Caixa      ÚLTIMO  8.232203e+09
4 2012-03-31    2437  1.02.03  DF Consolidado - Balanço Patrimonial Ativo                2011-12-31                    NaT          NaT                    Imobilizado   PENÚLTIMO  5.321486e+10

#### Create column 'VL_CONTA_PENULTIMO'

In [49]:
df = createPenultimo_VL_CONTA(df, 8)

print(df.dtypes)
print("\n")
df.head()

DT_REFER                     datetime64[ns]
CD_CVM                                int64
CD_CONTA                             object
GRUPO_DFP                            object
DT_FIM_EXERC_PENULTIMO_BP    datetime64[ns]
DT_FIM_EXERC_PENULTIMO       datetime64[ns]
DT_FIM_EXERC                 datetime64[ns]
DS_CONTA                             object
VL_CONTA_PENULTIMO                  float64
ORDEM_EXERC                          object
VL_CONTA                            float64
dtype: object

,DT_REFER,CD_CVM,CD_CONTA,GRUPO_DFP,DT_FIM_EXERC_PENULTIMO_BP,DT_FIM_EXERC_PENULTIMO,DT_FIM_EXERC,DS_CONTA,VL_CONTA_PENULTIMO,ORDEM_EXERC,VL_CONTA
0,2012-03-31,2437,1.01,DF Consolidado - Balanço Patrimonial Ativo,2011-12-31,NaT,NaT,Ativo Circulante,3.666267e+10,PENÚLTIMO,NaN
1,2012-03-31,2437,1.01,DF Consolidado - Balanço Patrimonial Ativo,NaT,NaT,2012-03-31,Ativo Circulante,NaN,ÚLTIMO,3.665730e+10
2,2012-03-31,2437,1.01.01,DF Consolidado - Balanço Patrimonial Ativo,2011-12-31,NaT,NaT,Caixa e Equivalentes de Caixa,7.994425e+09,PENÚLTIMO,NaN
3,2012-03-31,2437,1.01.01,DF Consolidado - Balanço Patrimonial Ativo,NaT,NaT,2012-03-31,Caixa e Equivalentes de Caixa,NaN,ÚLTIMO,8.232203e+09
4,2012-03-31,2437,1.02.03,DF Consolidado - Balanço Patrimonial Ativo,2011-12-31,NaT,NaT,Imobilizado,5.321486e+10,PENÚLTIMO,NaN

#### Remove disposable columns

In [50]:
cols = df.columns.intersection(['GRUPO_DFP', 'DS_CONTA', 'ORDEM_EXERC'])
df = df.drop(columns=cols, axis=1)

print(df.dtypes)
print("\n")
df.head()

DT_REFER                     datetime64[ns]
CD_CVM                                int64
CD_CONTA                             object
DT_FIM_EXERC_PENULTIMO_BP    datetime64[ns]
DT_FIM_EXERC_PENULTIMO       datetime64[ns]
DT_FIM_EXERC                 datetime64[ns]
VL_CONTA_PENULTIMO                  float64
VL_CONTA                            float64
dtype: object

    DT_REFER  CD_CVM CD_CONTA DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO      VL_CONTA
0 2012-03-31    2437     1.01                2011-12-31                    NaT          NaT        3.666267e+10           NaN
1 2012-03-31    2437     1.01                       NaT                    NaT   2012-03-31                 NaN  3.665730e+10
2 2012-03-31    2437  1.01.01                2011-12-31                    NaT          NaT        7.994425e+09           NaN
3 2012-03-31    2437  1.01.01                       NaT                    NaT   2012-03-31                 NaN  8.232203e+09
4 2012-03-31    2437  1.02.03                2011-12-31                    NaT          NaT        5.321486e+10           NaN

#### Group by 'DT_REFER', 'CD_CVM', and 'CD_CONTA' and aggregate the values

In [51]:
agg_funcs = {
    'DT_FIM_EXERC_PENULTIMO_BP': 'first',
    'DT_FIM_EXERC_PENULTIMO': 'first',
    'DT_FIM_EXERC': 'first',
    'VL_CONTA_PENULTIMO': 'last',
    'VL_CONTA': 'last'
}

df = df.groupby(['DT_REFER', 'CD_CVM', 'CD_CONTA']).agg(agg_funcs).reset_index()

# Reorder the columns as needed
df = df[['DT_REFER', 'CD_CVM', 'CD_CONTA', 'DT_FIM_EXERC_PENULTIMO_BP', 'DT_FIM_EXERC_PENULTIMO', 'DT_FIM_EXERC', 'VL_CONTA_PENULTIMO', 'VL_CONTA']]

# View the final DataFrame
print(df.dtypes)
print("\n")
df.head()

DT_REFER                     datetime64[ns]
CD_CVM                                int64
CD_CONTA                             object
DT_FIM_EXERC_PENULTIMO_BP    datetime64[ns]
DT_FIM_EXERC_PENULTIMO       datetime64[ns]
DT_FIM_EXERC                 datetime64[ns]
VL_CONTA_PENULTIMO                  float64
VL_CONTA                            float64
dtype: object

    DT_REFER  CD_CVM CD_CONTA DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO      VL_CONTA
0 2012-03-31    2437     1.01                2011-12-31                    NaT   2012-03-31        3.666267e+10  3.665730e+10
1 2012-03-31    2437  1.01.01                2011-12-31                    NaT   2012-03-31        7.994425e+09  8.232203e+09
2 2012-03-31    2437  1.02.03                2011-12-31                    NaT   2012-03-31        5.321486e+10  5.438703e+10
3 2012-03-31    2437     2.01                2011-12-31                    NaT   2012-03-31        2.612481e+10  2.643410e+10
4 2012-03-31    2437  2.01.04                2011-12-31                    NaT   2012-03-31        4.887560e+09  5.466635e+09

#### Saving df before transposing

In [52]:
saveToFile('../companies_before_transposing_df', df)

saving file: ../companies_before_transposing_df.csv
            CD_CVM CD_CONTA DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO      VL_CONTA
DT_REFER
2012-03-31    2437     1.01                2011-12-31                    NaT   2012-03-31        3.666267e+10  3.665730e+10
2012-03-31    2437  1.01.01                2011-12-31                    NaT   2012-03-31        7.994425e+09  8.232203e+09

#### Loading df before transposing

In [53]:
df = readCsv('../companies_before_transposing_df')

print(df.dtypes)
print("\n")
print(df)
print("\n")
df.head()

reading file: ../companies_before_transposing_df.csv
     DT_REFER  CD_CVM CD_CONTA DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO      VL_CONTA
0  2012-03-31    2437     1.01                2011-12-31                    NaN   2012-03-31        3.666267e+10  3.665730e+10
1  2012-03-31    2437  1.01.01                2011-12-31                    NaN   2012-03-31        7.994425e+09  8.232203e+09
DT_REFER                      object
CD_CVM                         int64
CD_CONTA                      object
DT_FIM_EXERC_PENULTIMO_BP     object
DT_FIM_EXERC_PENULTIMO        object
DT_FIM_EXERC                  object
VL_CONTA_PENULTIMO           float64
VL_CONTA                     float64
dtype: object


        DT_REFER  CD_CVM CD_CONTA DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO      VL_CONTA
0     2012-03-31    2437     1.01                2011-12-31                    NaN   2012-03-31        3.666267e+10  3.665730e+10
1     2012-03-31    2437  1.01.01                2011-12-31                    NaN   2012-03-31        7.994425e+09  8.232203e+09
2     2012-03-31    2437  1.02.03                2011-12-31                    NaN   2012-03-31        5.321486e+10  5.438703e+10
3     2012-03-31    2437     2.01                2011-12-31                    NaN   2012-03-31        2.612481e+10  2.643410e+10
4     2012-03-31    2437  2.01.04                2011-12-31                    NaN   2012-03-31        4.887560e+09  5.466635e+09
...          ...     ...      ...                       ...                    ...          ...                 ...           ...
1315  2022-09-30   21237     2.01                2021-12-31                    NaN   2022-09-30        1.436538e+09  5.000319e+09
1316  2022-09-30   21237  2.01.04                2021-12-31                    NaN   2022-09-30        3.626410e+08  2.209781e+09
1317  2022-09-30   21237  2.02.01                2021-12-31                    NaN   2022-09-30        7.384809e+09  1.239002e+10
1318  2022-09-30   21237     3.11                       NaN             2021-09-30   2022-09-30        3.626030e+08  2.351780e+08
1319  2022-09-30   21237  7.04.01                       NaN             2021-09-30   2022-09-30       -4.526110e+08 -4.537090e+08

[1320 rows x 8 columns]

     DT_REFER  CD_CVM CD_CONTA DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO      VL_CONTA
0  2012-03-31    2437     1.01                2011-12-31                    NaN   2012-03-31        3.666267e+10  3.665730e+10
1  2012-03-31    2437  1.01.01                2011-12-31                    NaN   2012-03-31        7.994425e+09  8.232203e+09
2  2012-03-31    2437  1.02.03                2011-12-31                    NaN   2012-03-31        5.321486e+10  5.438703e+10
3  2012-03-31    2437     2.01                2011-12-31                    NaN   2012-03-31        2.612481e+10  2.643410e+10
4  2012-03-31    2437  2.01.04                2011-12-31                    NaN   2012-03-31        4.887560e+09  5.466635e+09

#### Transforming rows into column to have one register by date, company and account type

In [54]:
# Filling NaN values with empty strings
df.fillna('', inplace=True)

# Creating the pivot table
df_pivot = df.pivot_table(
    index=['DT_REFER', 'CD_CVM', 'DT_FIM_EXERC_PENULTIMO_BP', 'DT_FIM_EXERC_PENULTIMO', 'DT_FIM_EXERC'],
    columns='CD_CONTA',
    values=['VL_CONTA_PENULTIMO', 'VL_CONTA'],
    aggfunc='first'
).reset_index()

# Flattening the multi-level columns
df_pivot.columns = ['_'.join(col).strip() if col[1] else col[0] for col in df_pivot.columns.values]

# Reordering the columns
ordered_columns = (
    ['DT_REFER', 'CD_CVM', 'DT_FIM_EXERC_PENULTIMO_BP', 'DT_FIM_EXERC_PENULTIMO', 'DT_FIM_EXERC'] +
    [col for col in df_pivot.columns if col.startswith('VL_CONTA_PENULTIMO_')] +
    [col for col in df_pivot.columns if col.startswith('VL_CONTA_') and not col.startswith('VL_CONTA_PENULTIMO_')]
)

df_pivot = df_pivot[ordered_columns]

print("\n-------------------------------------")
print(df_pivot)
print("-------------------------------------\n")

# agg_funcs = {
#     'DT_FIM_EXERC_PENULTIMO_BP': 'last',
#     'DT_FIM_EXERC_PENULTIMO': 'first'
# }

# Group by 'DT_REFER' and 'CD_CVM' and display the first entry for each group
#grouped_df = df_pivot.groupby(['DT_REFER', 'CD_CVM', 'DT_FIM_EXERC']).first().reset_index()
# grouped_df = df_pivot.groupby(['DT_REFER', 'CD_CVM', 'DT_FIM_EXERC']).agg(agg_funcs).reset_index()

print("\n-------------------------------------")
print(df_pivot)
print("-------------------------------------\n")

def custom_agg(series):
    # If the dtype is datetime, check for non-NaT values
    if series.dtype == 'datetime64[ns]':
        non_nat_values = [val for val in series if not pd.isna(val)]
        return non_nat_values[0] if non_nat_values else pd.NaT
    else:
        # If it's numeric, check for non-NaN values
        if pd.api.types.is_numeric_dtype(series):
            non_nan_values = [val for val in series if not pd.isna(val)]
            return non_nan_values[0] if non_nan_values else np.nan
        # Else check for non-empty strings
        else:
            non_empty_values = [val for val in series if val != '']
            return non_empty_values[0] if non_empty_values else ''

# Create an aggregation dictionary excluding columns you're grouping by
grouping_columns = ['DT_REFER', 'CD_CVM', 'DT_FIM_EXERC']
agg_dict = {col: custom_agg for col in ordered_columns if col not in grouping_columns}

# Group by 'DT_REFER', 'CD_CVM', and 'DT_FIM_EXERC', then aggregate
grouped_df = df_pivot.groupby(grouping_columns).agg(agg_dict).reset_index()

cols = list(grouped_df.columns)
cols.remove('DT_FIM_EXERC')
cols.insert(4, 'DT_FIM_EXERC')
grouped_df = grouped_df[cols]

print("\n-------------------------------------")
print(grouped_df)
print("-------------------------------------\n")

saveToFile('../df_pivot', grouped_df)

-------------------------------------
       DT_REFER  CD_CVM DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO_1.01  VL_CONTA_PENULTIMO_1.01.01  VL_CONTA_PENULTIMO_1.02.03  VL_CONTA_PENULTIMO_2.01  \
0    2012-03-31    2437                                       2011-03-31   2012-03-31                      NaN                         NaN                         NaN                      NaN
1    2012-03-31    2437                2011-12-31                          2012-03-31             3.666267e+10                7.994425e+09                5.321486e+10             2.612481e+10
2    2012-03-31    2453                                       2011-03-31   2012-03-31                      NaN                         NaN                         NaN                      NaN
3    2012-03-31    2453                2011-12-31                          2012-03-31             8.531649e+09                2.862490e+09                8.661791e+09             1.216935e+10
4    2012-03-31   18660                                       2011-03-31   2012-03-31                      NaN                         NaN                         NaN                      NaN
..          ...     ...                       ...                    ...          ...                      ...                         ...                         ...                      ...
325  2022-09-30   18660                2021-12-31                          2022-09-30             1.555250e+10                2.199952e+09                8.754616e+09             1.291372e+10
326  2022-09-30   20257                                       2021-09-30   2022-09-30                      NaN                         NaN                         NaN                      NaN
327  2022-09-30   20257                2021-12-31                          2022-09-30             2.135183e+09                3.848240e+08                8.634900e+07             1.417130e+09
328  2022-09-30   21237                                       2021-09-30   2022-09-30                      NaN                         NaN                         NaN                      NaN
329  2022-09-30   21237                2021-12-31                          2022-09-30             3.189501e+09                9.922900e+08                1.272722e+10             1.436538e+09

     VL_CONTA_PENULTIMO_2.01.04  ...  VL_CONTA_PENULTIMO_3.11  VL_CONTA_PENULTIMO_7.04.01  VL_CONTA_1.01  VL_CONTA_1.01.01  VL_CONTA_1.02.03  VL_CONTA_2.01  VL_CONTA_2.01.04  VL_CONTA_2.02.01  \
0                           NaN  ...             1.288848e+09                -425125000.0            NaN               NaN               NaN            NaN               NaN               NaN
1                  4.887560e+09  ...                      NaN                         NaN   3.665730e+10      8.232203e+09      5.438703e+10   2.643410e+10      5.466635e+09      4.043558e+10
2                           NaN  ...             5.261510e+08                -232797000.0            NaN               NaN               NaN            NaN               NaN               NaN
3                  7.821060e+09  ...                      NaN                         NaN   8.462174e+09      2.234744e+09      8.692198e+09   9.399513e+09      4.788680e+09      1.063251e+10
4                           NaN  ...             4.658750e+08                -151723000.0            NaN               NaN               NaN            NaN               NaN               NaN
..                          ...  ...                      ...                         ...            ...               ...               ...            ...               ...               ...
325                4.034836e+09  ...                      NaN                         NaN   1.410291e+10      4.028055e+09      8.584753e+09   1.515221e+10      5.361280e+09      1.816086e+10
326                         NaN  ...             5.368890e+08                 -16513000.0            NaN               NaN               NaN            NaN               NaN               NaN
327                9.580460e+08  ...                      NaN                         NaN   3.620492e+09      1.564460e+09      1.297810e+08   9.753050e+08      7.113580e+08      7.762053e+09
328                         NaN  ...             3.626030e+08                -452611000.0            NaN               NaN               NaN            NaN               NaN               NaN
329                3.626410e+08  ...                      NaN                         NaN   1.169646e+10      7.105811e+09      1.718215e+10   5.000319e+09      2.209781e+09      1.239002e+10

     VL_CONTA_3.11  VL_CONTA_7.04.01
0     1.272468e+09      -443522000.0
1              NaN               NaN
2     6.313880e+08      -237551000.0
3              NaN               NaN
4     4.231980e+08      -179693000.0
..             ...               ...
325            NaN               NaN
326   3.024540e+08       -19727000.0
327            NaN               NaN
328   2.351780e+08      -453709000.0
329            NaN               NaN

[330 rows x 21 columns]
-------------------------------------


-------------------------------------
       DT_REFER  CD_CVM DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO_1.01  VL_CONTA_PENULTIMO_1.01.01  VL_CONTA_PENULTIMO_1.02.03  VL_CONTA_PENULTIMO_2.01  \
0    2012-03-31    2437                                       2011-03-31   2012-03-31                      NaN                         NaN                         NaN                      NaN
1    2012-03-31    2437                2011-12-31                          2012-03-31             3.666267e+10                7.994425e+09                5.321486e+10             2.612481e+10
2    2012-03-31    2453                                       2011-03-31   2012-03-31                      NaN                         NaN                         NaN                      NaN
3    2012-03-31    2453                2011-12-31                          2012-03-31             8.531649e+09                2.862490e+09                8.661791e+09             1.216935e+10
4    2012-03-31   18660                                       2011-03-31   2012-03-31                      NaN                         NaN                         NaN                      NaN
..          ...     ...                       ...                    ...          ...                      ...                         ...                         ...                      ...
325  2022-09-30   18660                2021-12-31                          2022-09-30             1.555250e+10                2.199952e+09                8.754616e+09             1.291372e+10
326  2022-09-30   20257                                       2021-09-30   2022-09-30                      NaN                         NaN                         NaN                      NaN
327  2022-09-30   20257                2021-12-31                          2022-09-30             2.135183e+09                3.848240e+08                8.634900e+07             1.417130e+09
328  2022-09-30   21237                                       2021-09-30   2022-09-30                      NaN                         NaN                         NaN                      NaN
329  2022-09-30   21237                2021-12-31                          2022-09-30             3.189501e+09                9.922900e+08                1.272722e+10             1.436538e+09

     VL_CONTA_PENULTIMO_2.01.04  ...  VL_CONTA_PENULTIMO_3.11  VL_CONTA_PENULTIMO_7.04.01  VL_CONTA_1.01  VL_CONTA_1.01.01  VL_CONTA_1.02.03  VL_CONTA_2.01  VL_CONTA_2.01.04  VL_CONTA_2.02.01  \
0                           NaN  ...             1.288848e+09                -425125000.0            NaN               NaN               NaN            NaN               NaN               NaN
1                  4.887560e+09  ...                      NaN                         NaN   3.665730e+10      8.232203e+09      5.438703e+10   2.643410e+10      5.466635e+09      4.043558e+10
2                           NaN  ...             5.261510e+08                -232797000.0            NaN               NaN               NaN            NaN               NaN               NaN
3                  7.821060e+09  ...                      NaN                         NaN   8.462174e+09      2.234744e+09      8.692198e+09   9.399513e+09      4.788680e+09      1.063251e+10
4                           NaN  ...             4.658750e+08                -151723000.0            NaN               NaN               NaN            NaN               NaN               NaN
..                          ...  ...                      ...                         ...            ...               ...               ...            ...               ...               ...
325                4.034836e+09  ...                      NaN                         NaN   1.410291e+10      4.028055e+09      8.584753e+09   1.515221e+10      5.361280e+09      1.816086e+10
326                         NaN  ...             5.368890e+08                 -16513000.0            NaN               NaN               NaN            NaN               NaN               NaN
327                9.580460e+08  ...                      NaN                         NaN   3.620492e+09      1.564460e+09      1.297810e+08   9.753050e+08      7.113580e+08      7.762053e+09
328                         NaN  ...             3.626030e+08                -452611000.0            NaN               NaN               NaN            NaN               NaN               NaN
329                3.626410e+08  ...                      NaN                         NaN   1.169646e+10      7.105811e+09      1.718215e+10   5.000319e+09      2.209781e+09      1.239002e+10

     VL_CONTA_3.11  VL_CONTA_7.04.01
0     1.272468e+09      -443522000.0
1              NaN               NaN
2     6.313880e+08      -237551000.0
3              NaN               NaN
4     4.231980e+08      -179693000.0
..             ...               ...
325            NaN               NaN
326   3.024540e+08       -19727000.0
327            NaN               NaN
328   2.351780e+08      -453709000.0
329            NaN               NaN

[330 rows x 21 columns]
-------------------------------------


-------------------------------------
       DT_REFER  CD_CVM DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO_1.01  VL_CONTA_PENULTIMO_1.01.01  VL_CONTA_PENULTIMO_1.02.03  VL_CONTA_PENULTIMO_2.01  \
0    2012-03-31    2437                2011-12-31             2011-03-31   2012-03-31             3.666267e+10                7.994425e+09                5.321486e+10             2.612481e+10
1    2012-03-31    2453                2011-12-31             2011-03-31   2012-03-31             8.531649e+09                2.862490e+09                8.661791e+09             1.216935e+10
2    2012-03-31   18660                2011-12-31             2011-03-31   2012-03-31             5.363055e+09                2.699837e+09                8.292076e+09             4.499437e+09
3    2012-03-31   20257                2011-12-31             2011-03-31   2012-03-31             1.556749e+09                4.954060e+08                1.394000e+07             1.647891e+09
4    2012-03-31   21237                2011-12-31             2011-03-31   2012-03-31             1.708592e+09                1.442415e+09                5.393809e+09             1.632130e+09
..          ...     ...                       ...                    ...          ...                      ...                         ...                         ...                      ...
160  2022-09-30    2437                2021-12-31             2021-09-30   2022-09-30             3.974500e+10                2.737253e+09                3.336798e+10             2.388337e+10
161  2022-09-30    2453                2021-12-31             2021-09-30   2022-09-30             1.294915e+10                8.252080e+08                2.419269e+09             1.068759e+10
162  2022-09-30   18660                2021-12-31             2021-09-30   2022-09-30             1.555250e+10                2.199952e+09                8.754616e+09             1.291372e+10
163  2022-09-30   20257                2021-12-31             2021-09-30   2022-09-30             2.135183e+09                3.848240e+08                8.634900e+07             1.417130e+09
164  2022-09-30   21237                2021-12-31             2021-09-30   2022-09-30             3.189501e+09                9.922900e+08                1.272722e+10             1.436538e+09

     VL_CONTA_PENULTIMO_2.01.04  ...  VL_CONTA_PENULTIMO_3.11  VL_CONTA_PENULTIMO_7.04.01  VL_CONTA_1.01  VL_CONTA_1.01.01  VL_CONTA_1.02.03  VL_CONTA_2.01  VL_CONTA_2.01.04  VL_CONTA_2.02.01  \
0                  4.887560e+09  ...             1.288848e+09               -4.251250e+08   3.665730e+10      8.232203e+09      5.438703e+10   2.643410e+10      5.466635e+09      4.043558e+10
1                  7.821060e+09  ...             5.261510e+08               -2.327970e+08   8.462174e+09      2.234744e+09      8.692198e+09   9.399513e+09      4.788680e+09      1.063251e+10
2                  1.653053e+09  ...             4.658750e+08               -1.517230e+08   5.529380e+09      2.707338e+09      8.497946e+09   4.703766e+09      1.940757e+09      1.192139e+10
3                  1.307947e+09  ...             7.283400e+07               -3.730000e+05   1.754579e+09      6.910900e+08      1.429200e+07   1.703948e+09      1.378329e+09      1.989889e+09
4                  1.061150e+09  ...            -5.259300e+07               -1.964000e+06   1.711946e+09      1.308186e+09      5.988480e+09   2.274991e+09      1.681223e+09      4.807610e+09
..                          ...  ...                      ...                         ...            ...               ...               ...            ...               ...               ...
160                8.444527e+09  ...             9.645610e+08               -1.408353e+09   4.351671e+10      6.760927e+09      3.439755e+10   2.469936e+10      7.235323e+09      4.803479e+10
161                1.465133e+09  ...             4.214770e+08               -7.634820e+08   1.470612e+10      1.990712e+09      2.404840e+09   1.157168e+10      1.188699e+09      1.018025e+10
162                4.034836e+09  ...             1.435797e+09               -1.079923e+09   1.410291e+10      4.028055e+09      8.584753e+09   1.515221e+10      5.361280e+09      1.816086e+10
163                9.580460e+08  ...             5.368890e+08               -1.651300e+07   3.620492e+09      1.564460e+09      1.297810e+08   9.753050e+08      7.113580e+08      7.762053e+09
164                3.626410e+08  ...             3.626030e+08               -4.526110e+08   1.169646e+10      7.105811e+09      1.718215e+10   5.000319e+09      2.209781e+09      1.239002e+10

     VL_CONTA_3.11  VL_CONTA_7.04.01
0     1.272468e+09     -4.435220e+08
1     6.313880e+08     -2.375510e+08
2     4.231980e+08     -1.796930e+08
3     9.582200e+07     -4.060000e+05
4    -7.776000e+07     -2.920000e+06
..             ...               ...
160  -8.800000e+04     -2.098271e+09
161   1.182353e+09     -8.695360e+08
162   1.419211e+09     -1.228698e+09
163   3.024540e+08     -1.972700e+07
164   2.351780e+08     -4.537090e+08

[165 rows x 21 columns]
-------------------------------------


saving file: ../df_pivot.csv
            CD_CVM DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO_1.01  VL_CONTA_PENULTIMO_1.01.01  VL_CONTA_PENULTIMO_1.02.03  VL_CONTA_PENULTIMO_2.01  \
DT_REFER
2012-03-31    2437                2011-12-31             2011-03-31   2012-03-31             3.666267e+10                7.994425e+09                5.321486e+10             2.612481e+10
2012-03-31    2453                2011-12-31             2011-03-31   2012-03-31             8.531649e+09                2.862490e+09                8.661791e+09             1.216935e+10

            VL_CONTA_PENULTIMO_2.01.04  VL_CONTA_PENULTIMO_2.02.01  VL_CONTA_PENULTIMO_3.11  VL_CONTA_PENULTIMO_7.04.01  VL_CONTA_1.01  VL_CONTA_1.01.01  VL_CONTA_1.02.03  VL_CONTA_2.01  \
DT_REFER
2012-03-31                4.887560e+09                4.046331e+10             1.288848e+09                -425125000.0   3.665730e+10      8.232203e+09      5.438703e+10   2.643410e+10
2012-03-31                7.821060e+09                7.958009e+09             5.261510e+08                -232797000.0   8.462174e+09      2.234744e+09      8.692198e+09   9.399513e+09

            VL_CONTA_2.01.04  VL_CONTA_2.02.01  VL_CONTA_3.11  VL_CONTA_7.04.01
DT_REFER
2012-03-31      5.466635e+09      4.043558e+10   1.272468e+09      -443522000.0
2012-03-31      4.788680e+09      1.063251e+10   6.313880e+08      -237551000.0

#### Reading the cleaned up and grouped dataframe

In [59]:
final_df = readCsv('../df_pivot')

print(final_df.dtypes)
print("\n")
print(final_df)
print("\n")
final_df.head()

reading file: ../df_pivot.csv
     DT_REFER  CD_CVM DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO_1.01  VL_CONTA_PENULTIMO_1.01.01  VL_CONTA_PENULTIMO_1.02.03  VL_CONTA_PENULTIMO_2.01  \
0  2012-03-31    2437                2011-12-31             2011-03-31   2012-03-31             3.666267e+10                7.994425e+09                5.321486e+10             2.612481e+10
1  2012-03-31    2453                2011-12-31             2011-03-31   2012-03-31             8.531649e+09                2.862490e+09                8.661791e+09             1.216935e+10

   VL_CONTA_PENULTIMO_2.01.04  ...  VL_CONTA_PENULTIMO_3.11  VL_CONTA_PENULTIMO_7.04.01  VL_CONTA_1.01  VL_CONTA_1.01.01  VL_CONTA_1.02.03  VL_CONTA_2.01  VL_CONTA_2.01.04  VL_CONTA_2.02.01  \
0                4.887560e+09  ...             1.288848e+09                -425125000.0   3.665730e+10      8.232203e+09      5.438703e+10   2.643410e+10      5.466635e+09      4.043558e+10
1                7.821060e+09  ...             5.261510e+08                -232797000.0   8.462174e+09      2.234744e+09      8.692198e+09   9.399513e+09      4.788680e+09      1.063251e+10

   VL_CONTA_3.11  VL_CONTA_7.04.01
0   1.272468e+09      -443522000.0
1   6.313880e+08      -237551000.0

[2 rows x 21 columns]
DT_REFER                       object
CD_CVM                          int64
DT_FIM_EXERC_PENULTIMO_BP      object
DT_FIM_EXERC_PENULTIMO         object
DT_FIM_EXERC                   object
VL_CONTA_PENULTIMO_1.01       float64
VL_CONTA_PENULTIMO_1.01.01    float64
VL_CONTA_PENULTIMO_1.02.03    float64
VL_CONTA_PENULTIMO_2.01       float64
VL_CONTA_PENULTIMO_2.01.04    float64
VL_CONTA_PENULTIMO_2.02.01    float64
VL_CONTA_PENULTIMO_3.11       float64
VL_CONTA_PENULTIMO_7.04.01    float64
VL_CONTA_1.01                 float64
VL_CONTA_1.01.01              float64
VL_CONTA_1.02.03              float64
VL_CONTA_2.01                 float64
VL_CONTA_2.01.04              float64
VL_CONTA_2.02.01              float64
VL_CONTA_3.11                 float64
VL_CONTA_7.04.01              float64
dtype: object


       DT_REFER  CD_CVM DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO_1.01  VL_CONTA_PENULTIMO_1.01.01  VL_CONTA_PENULTIMO_1.02.03  VL_CONTA_PENULTIMO_2.01  \
0    2012-03-31    2437                2011-12-31             2011-03-31   2012-03-31             3.666267e+10                7.994425e+09                5.321486e+10             2.612481e+10
1    2012-03-31    2453                2011-12-31             2011-03-31   2012-03-31             8.531649e+09                2.862490e+09                8.661791e+09             1.216935e+10
2    2012-03-31   18660                2011-12-31             2011-03-31   2012-03-31             5.363055e+09                2.699837e+09                8.292076e+09             4.499437e+09
3    2012-03-31   20257                2011-12-31             2011-03-31   2012-03-31             1.556749e+09                4.954060e+08                1.394000e+07             1.647891e+09
4    2012-03-31   21237                2011-12-31             2011-03-31   2012-03-31             1.708592e+09                1.442415e+09                5.393809e+09             1.632130e+09
..          ...     ...                       ...                    ...          ...                      ...                         ...                         ...                      ...
160  2022-09-30    2437                2021-12-31             2021-09-30   2022-09-30             3.974500e+10                2.737253e+09                3.336798e+10             2.388337e+10
161  2022-09-30    2453                2021-12-31             2021-09-30   2022-09-30             1.294915e+10                8.252080e+08                2.419269e+09             1.068759e+10
162  2022-09-30   18660                2021-12-31             2021-09-30   2022-09-30             1.555250e+10                2.199952e+09                8.754616e+09             1.291372e+10
163  2022-09-30   20257                2021-12-31             2021-09-30   2022-09-30             2.135183e+09                3.848240e+08                8.634900e+07             1.417130e+09
164  2022-09-30   21237                2021-12-31             2021-09-30   2022-09-30             3.189501e+09                9.922900e+08                1.272722e+10             1.436538e+09

     VL_CONTA_PENULTIMO_2.01.04  ...  VL_CONTA_PENULTIMO_3.11  VL_CONTA_PENULTIMO_7.04.01  VL_CONTA_1.01  VL_CONTA_1.01.01  VL_CONTA_1.02.03  VL_CONTA_2.01  VL_CONTA_2.01.04  VL_CONTA_2.02.01  \
0                  4.887560e+09  ...             1.288848e+09               -4.251250e+08   3.665730e+10      8.232203e+09      5.438703e+10   2.643410e+10      5.466635e+09      4.043558e+10
1                  7.821060e+09  ...             5.261510e+08               -2.327970e+08   8.462174e+09      2.234744e+09      8.692198e+09   9.399513e+09      4.788680e+09      1.063251e+10
2                  1.653053e+09  ...             4.658750e+08               -1.517230e+08   5.529380e+09      2.707338e+09      8.497946e+09   4.703766e+09      1.940757e+09      1.192139e+10
3                  1.307947e+09  ...             7.283400e+07               -3.730000e+05   1.754579e+09      6.910900e+08      1.429200e+07   1.703948e+09      1.378329e+09      1.989889e+09
4                  1.061150e+09  ...            -5.259300e+07               -1.964000e+06   1.711946e+09      1.308186e+09      5.988480e+09   2.274991e+09      1.681223e+09      4.807610e+09
..                          ...  ...                      ...                         ...            ...               ...               ...            ...               ...               ...
160                8.444527e+09  ...             9.645610e+08               -1.408353e+09   4.351671e+10      6.760927e+09      3.439755e+10   2.469936e+10      7.235323e+09      4.803479e+10
161                1.465133e+09  ...             4.214770e+08               -7.634820e+08   1.470612e+10      1.990712e+09      2.404840e+09   1.157168e+10      1.188699e+09      1.018025e+10
162                4.034836e+09  ...             1.435797e+09               -1.079923e+09   1.410291e+10      4.028055e+09      8.584753e+09   1.515221e+10      5.361280e+09      1.816086e+10
163                9.580460e+08  ...             5.368890e+08               -1.651300e+07   3.620492e+09      1.564460e+09      1.297810e+08   9.753050e+08      7.113580e+08      7.762053e+09
164                3.626410e+08  ...             3.626030e+08               -4.526110e+08   1.169646e+10      7.105811e+09      1.718215e+10   5.000319e+09      2.209781e+09      1.239002e+10

     VL_CONTA_3.11  VL_CONTA_7.04.01
0     1.272468e+09     -4.435220e+08
1     6.313880e+08     -2.375510e+08
2     4.231980e+08     -1.796930e+08
3     9.582200e+07     -4.060000e+05
4    -7.776000e+07     -2.920000e+06
..             ...               ...
160  -8.800000e+04     -2.098271e+09
161   1.182353e+09     -8.695360e+08
162   1.419211e+09     -1.228698e+09
163   3.024540e+08     -1.972700e+07
164   2.351780e+08     -4.537090e+08

[165 rows x 21 columns]

,DT_REFER,CD_CVM,DT_FIM_EXERC_PENULTIMO_BP,DT_FIM_EXERC_PENULTIMO,DT_FIM_EXERC,VL_CONTA_PENULTIMO_1.01,VL_CONTA_PENULTIMO_1.01.01,VL_CONTA_PENULTIMO_1.02.03,VL_CONTA_PENULTIMO_2.01,VL_CONTA_PENULTIMO_2.01.04,...,VL_CONTA_PENULTIMO_3.11,VL_CONTA_PENULTIMO_7.04.01,VL_CONTA_1.01,VL_CONTA_1.01.01,VL_CONTA_1.02.03,VL_CONTA_2.01,VL_CONTA_2.01.04,VL_CONTA_2.02.01,VL_CONTA_3.11,VL_CONTA_7.04.01
0,2012-03-31,2437,2011-12-31,2011-03-31,2012-03-31,3.666267e+10,7.994425e+09,5.321486e+10,2.612481e+10,4.887560e+09,...,1.288848e+09,-425125000.0,3.665730e+10,8.232203e+09,5.438703e+10,2.643410e+10,5.466635e+09,4.043558e+10,1.272468e+09,-443522000.0
1,2012-03-31,2453,2011-12-31,2011-03-31,2012-03-31,8.531649e+09,2.862490e+09,8.661791e+09,1.216935e+10,7.821060e+09,...,5.261510e+08,-232797000.0,8.462174e+09,2.234744e+09,8.692198e+09,9.399513e+09,4.788680e+09,1.063251e+10,6.313880e+08,-237551000.0
2,2012-03-31,18660,2011-12-31,2011-03-31,2012-03-31,5.363055e+09,2.699837e+09,8.292076e+09,4.499437e+09,1.653053e+09,...,4.658750e+08,-151723000.0,5.529380e+09,2.707338e+09,8.497946e+09,4.703766e+09,1.940757e+09,1.192139e+10,4.231980e+08,-179693000.0
3,2012-03-31,20257,2011-12-31,2011-03-31,2012-03-31,1.556749e+09,4.954060e+08,1.394000e+07,1.647891e+09,1.307947e+09,...,7.283400e+07,-373000.0,1.754579e+09,6.910900e+08,1.429200e+07,1.703948e+09,1.378329e+09,1.989889e+09,9.582200e+07,-406000.0
4,2012-03-31,21237,2011-12-31,2011-03-31,2012-03-31,1.708592e+09,1.442415e+09,5.393809e+09,1.632130e+09,1.061150e+09,...,-5.259300e+07,-1964000.0,1.711946e+09,1.308186e+09,5.988480e+09,2.274991e+09,1.681223e+09,4.807610e+09,-7.776000e+07,-2920000.0

#### Free Cash Flow formula

*FCFE = <br>
  3.11 (Lucro/Prejuizo Consolidado do Periodo do DRE)<br>
  \- (Δ 1.02.03 (Imobilizado) - 7.04.01 (Depreciacao, Amortizacao e Exaustao da DVA))<br>
  \- (Δ 1.01 (Ativo Circulante) - Δ 1.01.01 (Caixa e Equivalentes de Caixa) -  Δ 2.01 (Passivo Circulante))<br>
  \+ (Δ 2.01.04(Emprestimos e Financiamentos Circulantes) + Δ 2.02.01(Emprestimos e Financiamentos Nao Circulantes))*<br><br>


*3.11 (Lucro/Prejuizo Consolidado do Periodo do DRE) = <br>
  LUCRO_LIQUIDO_PERIODO*<br>


*Δ 1.02.03 (Imobilizado) = <br>
  IMOBILIZADO_NO_PERIODO_ANTERIOR - IMOBILIZADO_NO_PERIODO*<br>


*7.04.01 (Depreciacao, Amortizacao e Exaustao da DVA) = <br>
  DEPRECIACAO_AMORTIZACAO_E_EXAUSTAO_DA_DVA*<br>


*Δ 1.01 (Ativo Circulante) = <br>
  ATIVO_CIRCULANTE_NO_PERIODO_ANTERIOR - ATIVO_CIRCULANTE_NO_PERIODO*<br>


*Δ 1.01.01 (Caixa e Equivalentes de Caixa) = <br>
  CAIXA_E_EQUIVALENTES_DE_CAIXA_NO_PERIODO_ANTERIOR - CAIXA_E_EQUIVALENTES_DE_CAIXA_NO_PERIODO*<br>


*Δ 2.01 (Passivo Circulante) = <br>
  PASSIVO_CIRCULANTE_NO_PERIODO_ANTERIOR - PASSIVO_CIRCULANTE_NO_PERIODO*<br>


*Δ 2.01.04(Emprestimos e Financiamentos Circulantes) = <br>
  EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES_NO_PERIODO_ANTERIOR - EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES_NO_PERIODO*<br>


*Δ 2.02.01(Emprestimos e Financiamentos Nao Circulantes) = <br>
  EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES_NO_PERIODO_ANTERIOR - EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES_NO_PERIODO*<br>

In [62]:
####################################################################
# Lucro/Prejuizo Consolidado do Periodo do DRE (3.11)
####################################################################
final_df['LUCRO_LIQUIDO_PERIODO'] = final_df['VL_CONTA_3.11']


####################################################################
# Δ Imobilizado (1.02.03)
####################################################################
final_df['IMOBILIZADO_NO_PERIODO_ANTERIOR'] = final_df['VL_CONTA_PENULTIMO_1.02.03']
final_df['IMOBILIZADO_NO_PERIODO'] = final_df['VL_CONTA_1.02.03']
final_df['IMOBILIZADO'] = final_df['IMOBILIZADO_NO_PERIODO_ANTERIOR'] - final_df['IMOBILIZADO_NO_PERIODO']


#################################################################### 
# Depreciacao, Amortizacao e Exaustao da DVA (7.04.01)
#################################################################### 
final_df['DEPRECIACAO_AMORTIZACAO_E_EXAUSTAO_DA_DVA'] = final_df['VL_CONTA_7.04.01']


#################################################################### 
# Δ Ativo Circulante (1.01)
#################################################################### 
final_df['ATIVO_CIRCULANTE_NO_PERIODO_ANTERIOR'] = final_df['VL_CONTA_PENULTIMO_1.01']
final_df['ATIVO_CIRCULANTE_NO_PERIODO'] = final_df['VL_CONTA_1.01']
final_df['ATIVO_CIRCULANTE'] = final_df['ATIVO_CIRCULANTE_NO_PERIODO_ANTERIOR'] - final_df['ATIVO_CIRCULANTE_NO_PERIODO']


#################################################################### 
# Δ Caixa e Equivalentes de Caixa (1.01.01)
#################################################################### 
final_df['CAIXA_E_EQUIVALENTES_DE_CAIXA_NO_PERIODO_ANTERIOR'] = final_df['VL_CONTA_PENULTIMO_1.01.01']
final_df['CAIXA_E_EQUIVALENTES_DE_CAIXA_NO_PERIODO'] = final_df['VL_CONTA_1.01.01']
final_df['CAIXA_E_EQUIVALENTES_DE_CAIXA'] = final_df['CAIXA_E_EQUIVALENTES_DE_CAIXA_NO_PERIODO_ANTERIOR'] - final_df['CAIXA_E_EQUIVALENTES_DE_CAIXA_NO_PERIODO']


#################################################################### 
# Δ Passivo Circulante (2.01)
#################################################################### 
final_df['EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES_NO_PERIODO_ANTERIOR'] = final_df['VL_CONTA_PENULTIMO_2.01']
final_df['EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES_NO_PERIODO'] = final_df['VL_CONTA_2.01']
final_df['EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES'] = final_df['EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES_NO_PERIODO_ANTERIOR'] - final_df['EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES_NO_PERIODO']


#################################################################### 
# Δ Emprestimos e Financiamentos Circulantes (2.01.04)
#################################################################### 
final_df['PASSIVO_CIRCULANTE_NO_PERIODO_ANTERIOR'] = final_df['VL_CONTA_PENULTIMO_2.01.04']
final_df['PASSIVO_CIRCULANTE_NO_PERIODO'] = final_df['VL_CONTA_2.01.04']
final_df['PASSIVO_CIRCULANTE'] = final_df['PASSIVO_CIRCULANTE_NO_PERIODO_ANTERIOR'] - final_df['PASSIVO_CIRCULANTE_NO_PERIODO']


#################################################################### 
# Δ Emprestimos e Financiamentos Nao Circulantes (2.02.01)
#################################################################### 
final_df['EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES_NO_PERIODO_ANTERIOR'] = final_df['VL_CONTA_PENULTIMO_2.02.01']
final_df['EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES_NO_PERIODO'] = final_df['VL_CONTA_2.02.01']
final_df['EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES'] = final_df['EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES_NO_PERIODO_ANTERIOR'] - final_df['EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES_NO_PERIODO']


# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
#
# Fluxo de Caixa Livre para os Acionistas (Free Cash Flows to Equity) - FCFE
#
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
final_df['FCFE'] = \
    final_df['LUCRO_LIQUIDO_PERIODO'] \
    - ( final_df['IMOBILIZADO'] - final_df['DEPRECIACAO_AMORTIZACAO_E_EXAUSTAO_DA_DVA'] ) \
    - ( final_df['ATIVO_CIRCULANTE'] - final_df['CAIXA_E_EQUIVALENTES_DE_CAIXA'] - final_df['EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES'] ) \
    + ( final_df['PASSIVO_CIRCULANTE'] + final_df['CAIXA_E_EQUIVALENTES_DE_CAIXA'] - final_df['EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES'] )

saveToFile('../final_df', final_df)

print(final_df)

saving file: ../final_df.csv
            CD_CVM DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO_1.01  VL_CONTA_PENULTIMO_1.01.01  VL_CONTA_PENULTIMO_1.02.03  VL_CONTA_PENULTIMO_2.01  \
DT_REFER
2012-03-31    2437                2011-12-31             2011-03-31   2012-03-31             3.666267e+10                7.994425e+09                5.321486e+10             2.612481e+10
2012-03-31    2453                2011-12-31             2011-03-31   2012-03-31             8.531649e+09                2.862490e+09                8.661791e+09             1.216935e+10

            VL_CONTA_PENULTIMO_2.01.04  VL_CONTA_PENULTIMO_2.02.01  ...  EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES_NO_PERIODO_ANTERIOR  EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES_NO_PERIODO  \
DT_REFER                                                            ...
2012-03-31                4.887560e+09                4.046331e+10  ...                                       2.612481e+10                                                  2.643410e+10
2012-03-31                7.821060e+09                7.958009e+09  ...                                       1.216935e+10                                                  9.399513e+09

            EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES  PASSIVO_CIRCULANTE_NO_PERIODO_ANTERIOR  PASSIVO_CIRCULANTE_NO_PERIODO  PASSIVO_CIRCULANTE  \
DT_REFER
2012-03-31                             -3.092870e+08                            4.887560e+09                   5.466635e+09       -5.790750e+08
2012-03-31                              2.769833e+09                            7.821060e+09                   4.788680e+09        3.032380e+09

            EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES_NO_PERIODO_ANTERIOR  EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES_NO_PERIODO  EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES          FCFE
DT_REFER
2012-03-31                                       4.046331e+10                                                      4.043558e+10                                        2.772200e+07  6.040990e+08
2012-03-31                                       7.958009e+09                                                      1.063251e+10                                       -2.674499e+09  1.008697e+10

[2 rows x 41 columns]
       DT_REFER  CD_CVM DT_FIM_EXERC_PENULTIMO_BP DT_FIM_EXERC_PENULTIMO DT_FIM_EXERC  VL_CONTA_PENULTIMO_1.01  VL_CONTA_PENULTIMO_1.01.01  VL_CONTA_PENULTIMO_1.02.03  VL_CONTA_PENULTIMO_2.01  \
0    2012-03-31    2437                2011-12-31             2011-03-31   2012-03-31             3.666267e+10                7.994425e+09                5.321486e+10             2.612481e+10
1    2012-03-31    2453                2011-12-31             2011-03-31   2012-03-31             8.531649e+09                2.862490e+09                8.661791e+09             1.216935e+10
2    2012-03-31   18660                2011-12-31             2011-03-31   2012-03-31             5.363055e+09                2.699837e+09                8.292076e+09             4.499437e+09
3    2012-03-31   20257                2011-12-31             2011-03-31   2012-03-31             1.556749e+09                4.954060e+08                1.394000e+07             1.647891e+09
4    2012-03-31   21237                2011-12-31             2011-03-31   2012-03-31             1.708592e+09                1.442415e+09                5.393809e+09             1.632130e+09
..          ...     ...                       ...                    ...          ...                      ...                         ...                         ...                      ...
160  2022-09-30    2437                2021-12-31             2021-09-30   2022-09-30             3.974500e+10                2.737253e+09                3.336798e+10             2.388337e+10
161  2022-09-30    2453                2021-12-31             2021-09-30   2022-09-30             1.294915e+10                8.252080e+08                2.419269e+09             1.068759e+10
162  2022-09-30   18660                2021-12-31             2021-09-30   2022-09-30             1.555250e+10                2.199952e+09                8.754616e+09             1.291372e+10
163  2022-09-30   20257                2021-12-31             2021-09-30   2022-09-30             2.135183e+09                3.848240e+08                8.634900e+07             1.417130e+09
164  2022-09-30   21237                2021-12-31             2021-09-30   2022-09-30             3.189501e+09                9.922900e+08                1.272722e+10             1.436538e+09

     VL_CONTA_PENULTIMO_2.01.04  ...  EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES_NO_PERIODO_ANTERIOR  EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES_NO_PERIODO  EMPRESTIMOS_E_FINANCIAMENTOS_CIRCULANTES  \
0                  4.887560e+09  ...                                       2.612481e+10                                                  2.643410e+10                               -3.092870e+08
1                  7.821060e+09  ...                                       1.216935e+10                                                  9.399513e+09                                2.769833e+09
2                  1.653053e+09  ...                                       4.499437e+09                                                  4.703766e+09                               -2.043290e+08
3                  1.307947e+09  ...                                       1.647891e+09                                                  1.703948e+09                               -5.605700e+07
4                  1.061150e+09  ...                                       1.632130e+09                                                  2.274991e+09                               -6.428610e+08
..                          ...  ...                                                ...                                                           ...                                         ...
160                8.444527e+09  ...                                       2.388337e+10                                                  2.469936e+10                               -8.159840e+08
161                1.465133e+09  ...                                       1.068759e+10                                                  1.157168e+10                               -8.840920e+08
162                4.034836e+09  ...                                       1.291372e+10                                                  1.515221e+10                               -2.238490e+09
163                9.580460e+08  ...                                       1.417130e+09                                                  9.753050e+08                                4.418250e+08
164                3.626410e+08  ...                                       1.436538e+09                                                  5.000319e+09                               -3.563781e+09

     PASSIVO_CIRCULANTE_NO_PERIODO_ANTERIOR  PASSIVO_CIRCULANTE_NO_PERIODO  PASSIVO_CIRCULANTE  EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES_NO_PERIODO_ANTERIOR  \
0                              4.887560e+09                   5.466635e+09       -5.790750e+08                                       4.046331e+10
1                              7.821060e+09                   4.788680e+09        3.032380e+09                                       7.958009e+09
2                              1.653053e+09                   1.940757e+09       -2.877040e+08                                       1.195473e+10
3                              1.307947e+09                   1.378329e+09       -7.038200e+07                                       2.015405e+09
4                              1.061150e+09                   1.681223e+09       -6.200730e+08                                       4.776218e+09
..                                      ...                            ...                 ...                                                ...
160                            8.444527e+09                   7.235323e+09        1.209204e+09                                       3.647460e+10
161                            1.465133e+09                   1.188699e+09        2.764340e+08                                       9.898830e+09
162                            4.034836e+09                   5.361280e+09       -1.326444e+09                                       1.838104e+10
163                            9.580460e+08                   7.113580e+08        2.466880e+08                                       5.846840e+09
164                            3.626410e+08                   2.209781e+09       -1.847140e+09                                       7.384809e+09

     EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES_NO_PERIODO  EMPRESTIMOS_E_FINANCIAMENTOS_NAO_CIRCULANTES          FCFE
0                                         4.043558e+10                                        2.772200e+07  6.040990e+08
1                                         1.063251e+10                                       -2.674499e+09  1.008697e+10
2                                         1.192139e+10                                        3.334300e+07  7.532200e+07
3                                         1.989889e+09                                        2.551600e+07 -2.497250e+08
4                                         4.807610e+09                                       -3.139200e+07 -4.457390e+08
..                                                 ...                                                 ...           ...
160                                       4.803479e+10                                       -1.156018e+10  6.608986e+09
161                                       1.018025e+10                                       -2.814230e+08 -6.018810e+08
162                                       1.816086e+10                                        2.201700e+08 -8.870255e+09
163                                       7.762053e+09                                       -1.915213e+09  2.055922e+09
164                                       1.239002e+10                                       -5.005208e+09  1.106010e+08

[165 rows x 42 columns]